<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <mapping package="org.emonocot.checklist.model"/>
    <mapping class="org.emonocot.checklist.model.Taxon"/>
    <mapping class="org.emonocot.checklist.model.Author"/>
    <mapping class="org.emonocot.checklist.model.Distribution"/>
  </session-factory>
</hibernate-configuration>