<div class="resource-row" id="">
    <div class="form-group form-inline form-dropdown">
        <div class = "row">
          <div class = "col col-md-3">
              <label for="identifier">Identifier:</label>
              <input type="text" class="form-control" name="identifier" value="">
          </div>
        </div>
        <div class="row">
          <div class="col col-md-3">
              <label for="title">Tile:</label>
              <input type="text" class="form-control" name="title" value="">
          </div>
          <div class="col col-md-6">
              <label for="url">Url:</label>
              <input type="url" class="form-control long-form" name="uri" value="" >
          </div>
        </div>
        <div class ="row">
          <div class="col col-md-3">
          <label for="data_type">Data Type: </label>
           <select class="form-control" name="processing_mode">
             <option>Standard</option>
             <option>Harvest Names</option>
             <option>Harvest Taxonomy</option>
           </select>
          </div>
          <div class="col col-md-6">
            <label for="prefix">Prefix:</label>
            <input type="url" class="form-control long-form" name="prefix" value="" >
          </div>
      </div>
      <div class="row">
      </div>
    </div>
    <div class ="row">
      <div class="col col-md-3">
        <button class="save btn btn-default">Save</button>
    </div>
  </div>
</div>
