<h1>What we do</h1>

<p>The Useful Plants and Fungi of Colombia project is a 2.5-year initiative led by Royal Botanic Gardens, Kew in collaboration with the Alexander von Humboldt Biological Resources Research Institute. </p>

<p>The UPFC project aims to enhance nature’s contribution to people in Colombia by: </p>

<ul>
  <li>Increasing and consolidating knowledge on Colombia’s useful plants and fungi and making it accessible for the benefit of the society. </li>
  <li>Promoting a market for useful native species and their high value natural products and encouraging the sustainable use of natural resources that protects the environment and enhances biodiversity. </li>
</ul>

<p>For further information, please visit <a href="https://www.kew.org/upfc">www.kew.org/upfc</a> and <a href="https://www.in-colombia.org">www.in-colombia.org</a> </p>

<h2>Funding</h2>

<p>This work is supported by a Professional Development & Engagement grant under the Newton-Caldas Fund partnership. The grant is funded by the UK Department for Business, Energy and Industrial Strategy (BEIS) and the Colombian Ministry of Science, technology and Innovation (MinCiencias), and delivered by the British Council. </p>

<p><img class="partners-image-block" src="/img/raster/colfungi_partners/colfungi_partners.png" alt="Co-funded by Newton-Caldas Fund and El conocimiento es de todos | Miniciencias. Delivery partner: British Council"></p>