<h1>About Royal Botanic Gardens, Kew</h1>

<p>RBG Kew is an institution for botanical and mycological research located in the United Kingdom. Our mission is to understand and protect plants and fungi, for the wellbeing of people and the future of all life on Earth.</p>

<p>Our 350+ scientists work collaboratively and globally, to understand and protect biodiversity and to discover sustainable solutions to some of our biggest global challenges.</p>

<p>We manage botanic gardens at Kew in London and Wakehurst in Sussex. These are the most diverse collections of any botanic garden in the world and have been developed since the late 1700s. Today, we hold over 68,000 accessions (one or more living plant specimens that come from the same initial source) of over 27,000 taxa.</p>

<p>Wakehurst is home to the Millenium Seed Bank, the largest ex situ plant conservation programme in the world. Working with our network of partners across 100 countries and overseas territories, we have successfully banked approximately one sixth of the 80% of world's wild plant species that have seeds suitable for long term storage.</p>

<p>Kew’s vast scientific collections of plants and fungi from across the globe lie at the heart of the organisation. These collections include 7 million plant pressed plant specimens and 1.25 million specimens of dried fungi, and are a global resource for plant and fungal knowledge.</p>

<p>In the digital space, in addition to publishing data on this online platform, Kew curates key global plant and fungal nomenclatural and taxonomic resources. These include the International Plant Names Index, the World Checklist of Selected Plant Families, The Plant List and Index Fungorum.</p>