<footer class="c-footer">
  <div class="container-fluid">
    <ul class="c-footer__terms list-inline">
      <li><a href="#">Terms & Conditions</a></li>
      <li><a href="#">Privacy policy</a></li>
      <li><a href="#">Cookies</a></li>
      <li><a href="#">Accessibility</a></li>
    </ul>
    <span class="c-footer__copyright">© Copyright Board of Trustees of the Royal Botanic Gardens, Kew</span>
  </div>
</footer>
