  <script src="/{{asset "js/all.js"}}"></script>
  {{#if initialize}}
  <script type="text/javascript">
    require(['jquery', '{{initialize}}'], function($, component) {
      $(document).ready(function() {
        component.initialize();
      });
    });
  </script>
  {{/if}}
</body>
</html>
