<footer class="c-footer">
  <div class="container">
    <ul class="c-footer__terms list-inline">
      <li><a href="/terms_and_conditions">Terms & Conditions</a></li>
      <li><a href="/privacy-policy">Privacy & Cookies</a></li>
      <li><a href="/accessiblility">Accessibility</a></li>
      <li><a href="/search_help">Search Help</a></li>
    </ul>
    <span class="c-footer__copyright">© Copyright Board of Trustees of the Royal Botanic Gardens, Kew</span>
  </div>
</footer>
