<header class="c-header">
  <div class="container">
    <h1><a href="/">Plants of the World Online</a></h1>
    <nav class="c-header__actions">
      <a href="http://www.kew.org/science-conservation">{{> svg/kew-science-logo.svg}}</a>
      <ul class="list-inline hidden">
        <li>Use these results:</li>
        <li><a href="#">Visualise</a></li>
        <li><a href="#">Export</a></li>
        <li><a href="#">Print</a></li>
      </ul>
    </nav>
  </div>
</header>
