<header class="c-header">
  <div class="container">
    <a id="kew-logo" href="http://www.kew.org/science-conservation">{{> svg/kew-science-big-logo.svg}}</a>

    <a class="powo-logo" href="/">
      <svg xmlns:xlink="http://www.w3.org/1999/xlink">
        <use xlink:href="#powo-logo-svg"/>
      </svg>
    </a>

    <p class="featured">
       Featured: <i><a href="/taxon/urn:lsid:ipni.org:names:329604-2">Anagallis arvensis</a></i>
       <small>Image from Stuppy &amp; Kesseler<br/>©Papadakis Publisher</small>
    </p>
  </div>
</header>
