/*
* Component - Card
*/
.c-card {

  transition: box-shadow .1s ease-out;

  @media (max-width: $screen-sm-min) {
    width: 100%;
  }

  &:hover {
    box-shadow: inset 0px 0px 0px 10px rgba(#66CCCC,0.75);
  }

  > a {
    display: block;
    padding: $grid-gutter-width;
    &:hover {
      text-decoration: none;
    }
  }

  &__title {
    font-size: $font-size-large;
    font-weight: 600;
    cite {
      font-style: normal;
      font-weight: 400;
    }
  }

  /*
  * When in rows, change the layout
  */
  .grid--rows & {
      position: relative;
      width: 100%;

      .c-card__type {
        position: absolute;
        left: $grid-gutter-width;
        top: $grid-gutter-width;
      }

      .c-card__title {
        margin-top: 0;
      }

      .c-card__content {
        float: left;
        padding-left: 150px;
        width: 70%;
        padding-right: $grid-gutter-width;
      }

      .c-gallery-thumbs {
        display:none;
      }

      .c-gallery-thumbs__img {
        display:none;
      }
  }

}
