.featured-taxa-sections {
  padding: 0 16px;

  @media (min-width: $screen-sm-min) {
    padding: 0 100px;
  }

  .featured-taxa-section__header {
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin: 24px 0;
    flex-direction: row;
    align-items: center;

    & > h2 {
      margin: 0;
    }
  }

  .featured-taxon {
    display: block;
    margin-bottom: 32px;
    width: 100%;

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }

  .featured-taxon__image-container {
    height: 210px;
    overflow: hidden;
    margin-bottom: 8px;
    > img {
      object-fit: cover;
      width: 100%;
    }
  }

  .featured-taxon__image {
    width: 371px;
    height: 209px;
  }

  .featured-taxon__image-placeholder {
    height: 209px;
    background-color: #f4f3f1;
  }

  .featured-taxon__rank {
    color: $kew-teal;
    font-weight: 900;
    margin-bottom: 8px;
    text-transform: uppercase;
  }

  .featured-taxon__name {
    font-size: 20px;
    margin-bottom: 8px;
  }
  
  .featured-taxon__summary {
    & > p {
      margin-bottom: 0;
    }
  }
}
