.featured-taxa-sections {
  margin-bottom: 40px;
  padding: 0 100px;
  header {
    display: flex;
    justify-content: space-between;
    align-content: center;
    height: 49px;
    flex-direction: row;
    align-items: center;
    margin-top: 22px;
    h2 {
      margin: 0;
    }
  }
  .featured-taxa {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    @media (min-width: $screen-md-min) {
      flex-direction: row;
    }
    a:hover,a:focus {
      text-decoration: none;
    }
    .taxa {
      @media (min-width: $screen-md-min) {
        width: 30%;
      }
      width: 100%;
    }
  }

  .featured-taxon__image {
    height: 210px;
    overflow: hidden;
    > img {
      object-fit: cover;
      width: 100%;
    }
  }

  .featured-taxon__rank {
    color: $kew-teal;
    font-weight: 900;
    margin: 14px 0;
  }

  .featured-taxon__name {
    font-size: 20px;
    margin-bottom: 9px;
  }

  /**
  * The defined height here combined with the line-height
  * on `featured-taxon__description` means that we will
  * show up to 3 descriptions per featured taxon.
  *
  * The description will be truncated to prevent it taking up
  * multiple lines.
  */
  .featured-taxon__descriptions {
    height: 7.5rem;
    overflow-y: hidden;
  }

  .featured-taxon__description {
    line-height: 2.5rem;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .featured-taxon__description-type {
    &:after {
      content: " > ";
    }

    &:last-child:after {
      content: ":";
    }
  }
  .photo-placeholder {
    width: 371px;
    height: 209px;
    margin: 24px 27px 160px 1px;
    background-color: #f4f3f1;
  }
  .photo {
    width: 371px;
    height: 209px;
    margin: 24px 27px 160px 1px;
  }
}