.site-footer {
  background: $kew-black;
  color: $White;
  .footer-layer-one {
    @media (min-width: $screen-md-min) {
      flex-direction: row;
      padding: 0 100px;   
    }
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    min-height: 56px;
    padding: 21px;
    nav {
      align-self: center;
      margin-bottom: 10px;
      @media (min-width: $screen-md-min) {
        margin-bottom: 0;
      }
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        li {
          display: inline-block;
          padding-right: 12px;
          a {
            color: $kew-light-grey;
          }
        }
      }
    }
    small {
      align-self: center;
      font-size: 100%;
      color: $White;
      line-height: 1.43;
      font-weight: 300;
      @media (min-width: $screen-md-min) {
        font-weight: 400;
      }
    }
  }
  .footer-layer-two {
    @media (min-width: $screen-md-min) {
      display: block;
    }
    display: none;
    background: $kew-deep-black;
    height: 44px;
    text-align: center;
    a { 
      color: $kew-light-grey;
      line-height: 44px;
      font-weight: 500;
    }
  }
}
