/*
* Component - Gallery thumbnails
*/
.c-gallery {
  margin-top: 2em;
  display: flex;
  flex-wrap: wrap;
  a {
    display: block;
    overflow: hidden;
    &:focus {
      @include focus-outline--black();
    }
    img {
      width: 100%;
      height: 210px;
      object-fit: cover;
    }
  }
}

.c-gallery__image-container {
  width: 33.3%;
  padding: 3px;
}

// mfp is the prefix for Magnific Popup which is our gallery library
.mfp-arrow, .mfp-close {
  &:focus {
    @include focus-outline--yellow();
  }
}
