/*
* Component - Gallery thumbnails
*/
.c-gallery {
  margin-top: 2em;
}

.c-gallery__img {
  width: 33.3%;
  height: 380px;
  overflow: hidden;
  float: left;
  border-right: 1px solid #FFFFFF;
  border-bottom: 1px solid #FFFFFF;

  @media (max-width: $screen-xs){
    height: 90px;
  }
  @media (min-width: $screen-xs) and (max-width: $screen-sm){
    height: 200px;
  }
  @media (min-width: $screen-sm) and (max-width: $screen-md){
    height: 330px;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
