.c-header {
  background-color: $White;
  padding: 9px 0;
  .container {
    display: flex;
    align-items: center;
    .top-right-nav {
      display: flex;
      margin-left: auto;
      order: 3;
      .top-link {
        margin-right: 43px;
        text-transform: uppercase;
        &.last {
          margin-right: 0;
        }
      }
    }
  }
  a.top-link { 
    text-decoration: none;
    color: $kew-black;
    &:hover {
      color:$kew-teal;
    }
  }
  h1 {
    font-weight: 700;
    font-size: $font-size-h2;

    @media (min-width: $screen-sm-min) {
      font-size: $font-size-h1;
    }
  }

  .container {
    @media (max-width: $screen-sm-min) { margin: 0; }

    small {
      display: block;
      font-size: 60%
    }
  }

  .featured {
    text-align: right;
    display: none;
    margin-top: 30px;
    float: right;
  }
}

#kew-logo {
  display: flex;
  #kew-powo-logo-svg {
    text {
      fill: $kew-teal;
    }
    rect, g {
      fill: $kew-black;
    }
  }
  

  @media (min-width: $screen-sm-min) {
  #kew-logo-svg {
    width: 200px;
    height: 60px;
    }
  }
  @media (max-width: $screen-sm-min) {
    #kew-logo-svg {
      height: 45px;
      width: 130px;
    }
  }
}

.s-search__fullpage .featured {
  @media (min-width: $screen-sm-min) {
    display: block;
  }
}

.c-header .site-logo {
  height: 60px;
  border-left: 1px solid #fff;
  padding-left: 15px;
  margin-left: 15px;
  display: inline-block;

  svg {
    width: 160px;
    height: 60px;
  }

  @media (max-width: $screen-sm-min) {
    height: 45px;
    padding-left: 10px;
    margin-left: 5px;

    svg {
      width: 125px;
      height: 45px;
    }
  }
}

.s-search__fullpage .c-header .site-logo {
  display: none;
}
