.c-intro {
  text-align: center;

  p {
    font-size: 24px;
    line-height: 1.27;
    color: $White;
    @media (min-width: $screen-sm-min) {
      font-size: 30px;
      line-height: 1.27;
    }
    
  }

  &__title {
    font-weight: bold;
    font-size: $font-size-h2;
    @media (min-width: $screen-md-min) {
      font-size: $font-size-h1;
    }
  }
}
