.c-intro {
  max-width: 90%;
  margin: 199px auto 2em;
  text-align: center;

  p {
    font-size: $font-size-base;
    color: $White;
    @media (min-width: $screen-sm-min) {
      font-size: $font-size-h3;
    }
    
  }

  &__title {
    font-weight: bold;
    font-size: $font-size-h2;
    @media (min-width: $screen-md-min) {
      font-size: $font-size-h1;
    }
  }
}
