/*
 * Component - Search
 */
#search_box {

  .btn-link,
  a {
    color: #FFFFFF;
  }

  &__title {
    margin: 0 0 1em;
    @media (min-width: $screen-md-min) { margin: 0.8em; }
    @media (max-width: $screen-sm-min) { display: none; }
  }

  .tokenfield {
    background-color: #fff;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;

    .token {
      color: #000;
      height: auto;
      margin-bottom: 0;

      .close {
        color: #000;
      }
    }

    &.form-control {
      padding: .4em 0 .4em .8em;
    }
  }

  .suggestion-category {
    color: #ccc;
    float: right;

    &.glyphicon {
      padding-top: 8px;
    }

    @media (max-width: $screen-sm-min) {
      display: none;
    }
  }

  input.token-input {
    background-color: transparent;
  }

  .glyphicon-search {
    padding: .7em .2em;
  }
}

.c-header .form-inline--search {
  margin-top: 6px;
  width: 850px;
  float: right;

  .form-control {
    box-shadow: none;
  }
}

.s-page--taxon .c-header .form-inline--search {
  margin-top: 12px;
  width: 400px;
  border: 0px solid #e7e7e7;
  border-bottom-width: 5px;
}

.s-search__fullpage .c-search {
  @media (min-width: $screen-sm-max) {
    position: absolute;
    top: 40%;
    left: 5%;
    width: 90%;
    transform: translateY(-50%);
  }
}
