.skip-main {
  left: -999px;
  position: absolute;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
  z-index: -999;
  -webkit-clip: rect(1px 1px 1px 1px);

  &:focus,
  &:active {
    background: $kew-focus-colour-light;
    color: $kew-focus-colour-dark;
    border-bottom: 3px solid $kew-focus-colour-dark;
    display: block;
    width: auto;
    height: auto;
    position: static;
  }
}
