// Page Home
.s-page {
  position: relative;
}

.s-page--home,
.s-page--error {
  .home__hero-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .s-page-wrapper {
    position: relative;
    min-height: calc(100vh - 30px);
  }

  .c-header__actions {
    margin-top: 25px;
  }

  #kew-logo-svg {
    width: 400px;
    height: 60px;
    fill: $kew-black;
  }

  .site-logo {
    fill: $kew-black;
  }
}


@media (min-width: $screen-sm-min) {
  .s-search__fullpage .c-footer,
  .s-page--error .c-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
.c-intro {
  small {
    display: block;
    margin-bottom: 3.5rem;
    margin-top: -1rem;
  }

  @media (max-width: $screen-sm-max) {
    .site-logo {
      width: 200px;
      height: 110px;
    }
  }
}
.c-header .container,
.c-footer .container {
  max-width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  @media (min-width: $screen-sm-min) {
    padding-left: 100px;
    padding-right: 100px;
  }
}
.s-search__fullpage {
  .c-intro {
    display: block;
  }
  .central {
    padding: 0 16px;
    @media (min-width: $screen-sm-min) {
      padding: 0 100px;
    }
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    p {
      padding-bottom: 35px;
      margin: 0
    }
  }

  .form-inline--search {
    @media (min-width: $screen-lg) { width: 740px; }
      margin: 0 auto;
  }

  .site-logo {
    width: 300px;
    height: 145px;
  }
}

.home__search-container {
  margin-bottom: 16px;
}

.home__featured-image-description {
  align-items: center;
  display: flex;
  padding: 0 16px;
  justify-content: flex-start;
  color: white;
  margin-bottom: 16px;
  
  @media (min-width: $screen-sm-min) {
    padding: 0 100px;
    justify-content: flex-end;
  }

  a {
    color: white;
  }
}

.cookie-bar {
  background-color: #222;
  color: white;
  border-radius:0px;

  a {
    margin-left:10px;
    margin-right:10px;
    color: white;
    text-decoration: underline;
  }

}

.s-page--home {
  .featured-taxa-sections {
    margin-bottom: 40px;
  }
}