.s-page--taxon {
  .c-header .site-logo {
    border-left-color: #000;
  }
}
.to-top {
  display: none;
  top: 9px;
  right: 0;
  z-index: 99;
  cursor: pointer;
  font-size: 20px;
  border: none;
  background: transparent;
  padding: 0;
  width: 32px;
  height: 32px;
  position: unset;
  margin: auto;
  margin-bottom: 8px;

  @media (min-width: $screen-sm) {
    margin-bottom: 0;
    position: absolute;
  }
  &:focus {
    @include focus-outline--black();
    border-radius: 50%;
  }
}

.navbar-default .navbar-nav .active a {
  color: $kew-teal;
  background: white;
  &:focus {
    background: $kew-focus-colour-light;
  }
}

.navbar-nav--article li:hover {
  color: $kew-teal;
}
.navbar-default .navbar-nav li a:hover {
  color: $kew-teal;
}

.navbar {
  border-bottom: 1px solid $kew-medium-grey;
  border-top:none;
  @media (max-width: $screen-xs-max) {
    border-bottom: none;
  }
}
button.mobile-menu.collapsed:before {
  content: none;
}

.description-type-list-item {
  &:not(:last-child) {
    &:after {
      content: ' > ';
    }
  }
}

.taxon__sources-header {
  margin-top: 0;
}

.taxon-classification {
  margin-bottom: 8px;
}

.taxon-classification__item {
  margin-bottom: 8px;
  & > dt {
    display: inline-block;
    font-weight: normal;
  }
  
  & > dd {
    display: inline-block;
  }
}