.s-page--taxon {
  .c-header .site-logo {
    border-left-color: #000;
  }

  .affix-top .to-top {
    display: none;
  }

  .affix .to-top {
    position: absolute;
    right: 20px;
    top: 10px;
    display: block;
    padding: 10px;
    cursor: pointer;
  }
}
