sudo: required
language: java
jdk:
  - oraclejdk7
git:
  depth: 1
before_install:
  - echo "MAVEN_OPTS='-Xmx2g -XX:MaxPermSize=512m'" > ~/.mavenrc
install: mvn install -DskipTests=true -B -V -q
before_script:
  - docker-compose -p test up -d solr db
script:
  - mvn test -Punit -q -DskipDockerBuild -DskipDockerTag
  - mvn verify -Pintegration -q -DskipDockerBuild -DskipDockerTag
services:
  - docker
cache:
  directories:
    - $HOME/.m2
notifications:
  slack:
    secure: cNJuQMOSv3e51A2rTd50QY6ojkc+2Us2+7SRg/Y48xcoQjqnjC6yPsi0rHPnRoCRQy6vAU1nMYvEUcJAP8EG3zUnoXzC5nPT7/Fz0YxT8FZIln29ctbTzW2lldbqnz9uy6tuwC2vYYwYgEbRmh5xT64faNebdWEL6EBIgUreNUfaflzaTuwwNNvLCWttpesndZvXYTx/e9Lm1lxocVJlj8rKL4/3R8Lf4WcrmFHYT3Zju7SYc39dqRQcopWvo/6fsrjLmnh4EebTcrpaiIK+nkBv8bsizVAhawL+vVspzN6EazTTx2pxpDO7gypawjBHC+d6Zg16gfAsHXeBMpPEJer0CgHPDa4OhKNw5C0fkcoM3MDlPkyjApzy2rUcrIy/L5CSlTtzaVeOdf0kt4lj6+u6FPTW7spGpo9zR6JOL5miLLf44p+jyXmuNNq6NdsYjum1SFglzinzvMCFj3kiKgMFUORJvpDiuoB1YxYGU5lwRScP27RrreveTOKwCcvOg0vZIL/P2aMfpGC71Mx6D2dwUDd1qOGRWapjJP5exe0j+w9cLkvtK6e2D+lYIy7s5V//kEmGJhMENOIZDy7QzuYk/H9I6KWjQY6p6Bi3sxkI4HqPi2Lra9o9SzI3Sm904oOD7C772aRmrvO2Iz6Z2/BlniKk/xcvxyRoFbRe7ts=
