<form class="login">
  <h2>Log in</h2>
  <div class="form-group">
    Username: <input type="text" name="username">
    Password: <input type="password" name="password">
  </div>
  <button class="password">Login</button>
</form>
