<article class="c-article">
  <h1 class="c-article-header">Data Management</h1>
  <section class="c-article-section">
    <div id="organisations">
      {{> admin/organisations }}
    </div>

    <div id="jobs">
      {{> admin/job/lists }}
    </div>
  </section>
</article>
