/*
* Kew Logo
*/
.svg--sprite-chevron-dims { width: 16.7px; height: 12.1px; }
.svg--sprite-kew-science-potwp-dims { width: 219px; height: 51.6px; }
.svg--sprite-leaf-dims { width: 21.1px; height: 21.1px; }


/*
* Leaf
*/
.leaf {
  position: relative;
  top: 4px;
}

.sprite-leaf-dims {
  width: 20px;
  height: 20px;
}