/*
* Theme a page, fonts and logo.
*/
@mixin theme-page($name, $color) {
  $primary: $color;

  .#{$name} {
    color: $primary;
    a {
      color: $primary;
    }
    .kew-logo {
      fill: $primary;
    }
  }
}

/*
* Theme a page / card styles and other elements based on a type of plant.
*/
@mixin theme-type($name, $color) {
  $primary: $color;

  .#{$name} {

    .s-page {
      border-color: $primary;
    }

    .a {
      color: $primary;
    }

    .modal-backdrop.in {
      background-color: darken($primary,30);
    }

    .results-leaf {
      fill: $primary;
    }

  }

  .#{$name}.c-card {
    .c-card__type {
      color: $primary;
    }
    &:hover {
      box-shadow: inset 0px 0px 0px 10px rgba($primary,0.75);
    }
  }
}


$type-themes: (
  s-theme-Family: #336699,
  s-theme-Genus: #339999,
  s-theme-Species: #669933,
  s-theme-Common: #993399,
  s-theme-Synonym: #c7c7c7,
) !default;

$page-themes: (
  s-theme-home: #FFFFFF,
) !default;


@each $theme, $color in $page-themes {
  @include theme-page($theme, $color);
}

@each $theme, $color in $type-themes {
  @include theme-type($theme, $color);
}
