<svg class="site-logo" xmlns:xlink="http://www.w3.org/1999/xlink">
  <use xlink:href="#colfungi-logo-svg"/>
</svg>
<small>Colombian resources for Fungi made accessible</small>
<p>Browse over <strong>{{names}}</strong> Colombian fungi</p>
