<h1 class="sr-only">Colombian Fungi made accessible</h1>
<p>
  Browse over <strong>{{taxon-counts-total}}</strong> scientific names of Colombian fungi, including
  <strong>{{taxon-counts-species}}</strong> accepted species names.
</p>
