<p>
  Browse over <strong>{{taxon-counts-total}}</strong> scientific names of Colombian fungi, including
  <strong>{{taxon-counts-species}}</strong> accepted names for species, <strong>{{taxon-counts-genus}}</strong> genera
  and <strong>{{taxon-counts-family}}</strong> families
</p>
