<svg class="site-logo" xmlns:xlink="http://www.w3.org/1999/xlink">
  <use xlink:href="#colplanta-logo-svg"/>
</svg>
<small>Colombian resources for Plants made Accessible</small>
<p>
  Browse over <strong>{{taxon-counts-total}}</strong> scientific names of Colombian plants, including
  <strong>{{taxon-counts-species}}</strong> accepted names for species, <strong>{{taxon-counts-genus}}</strong> genera
  and <strong>{{taxon-counts-family}}</strong> families
</p>


