<svg class="site-logo" xmlns:xlink="http://www.w3.org/1999/xlink">
  <use xlink:href="#colplanta-logo-svg"/>
</svg>
<small><b>Col</b>ombian resources for <b>Plant</b>s made <b>A</b>ccessible</small>
<p>Improving knowledge of Colombia’s rich flora</p>
