<svg class="site-logo" xmlns:xlink="http://www.w3.org/1999/xlink">
  <use xlink:href="#colplanta-logo-svg"/>
</svg>
<small>Colombian resources for Plants made Accessible</small>
<p>Browse over <strong>{{names}}</strong> Colombian plants</p>
