<svg class="site-logo" xmlns:xlink="http://www.w3.org/1999/xlink">
  <use xlink:href="#powo-logo-svg"/>
</svg>
<small>Bringing Kew's science data online by 2020</small>
<p>
Browse {{names}} global plant names, {{descriptions}} detailed descriptions, and
{{images}} images with an initial focus on tropical Africa
</p>
