.html--overflow-hidden {
  height: 100%;
  overflow: hidden;
  position: relative;
}
body {
  position: relative;
  font-size: 16px;
}

a {
  &:focus {
    @include focus-text();
    color: $kew-focus-text-colour !important;
  }
}
