*,
button,
input,
.form-control,
.btn:focus,  
a {
  &:focus {
    outline: 3px solid $kew-focus-outline-yellow;
    outline-offset: 0;
    box-shadow: none;
    &.top-link, &.footer-link {
      outline-offset: 3px;
    }
  }
}

.tokenfield.focus, #search-button:focus {
  outline: none;
  box-shadow: 0 0 0pt 2px $kew-focus-outline-yellow!important;
}

.c-gallery a:focus, a.c-gallery-header {
  outline-offset: -2px;
}