$kew-focus-text-colour: $kew-black;
$kew-focus-colour-light: $kew-focus-outline-yellow;
$kew-focus-colour-dark: $kew-black;

@mixin double-box-shadow($inner-colour, $outer-colour, $line-width: 3px) {
  box-shadow: 0 0 0 $line-width $inner-colour,
    0 0 0 ($line-width * 2) $outer-colour !important;
}

@mixin focus-text() {
  background-color: $kew-focus-colour-light;
  box-shadow: 0 3px 0 $kew-focus-colour-dark;
  color: $kew-focus-text-colour!important;
  outline: none;
  text-decoration: none;
}

@mixin focus-outline--yellow() {
  @include double-box-shadow($kew-focus-colour-dark, $kew-focus-colour-light);
  outline: none;
}

@mixin focus-outline--black() {
  @include double-box-shadow($kew-focus-colour-light, $kew-focus-colour-dark);
  outline: none;
}


/**
TODO:
- figure out where this code should live
    -> must be up to the declaring / calling code
    -> this needs to expose mixins and sensible defaults
- figure out what these mixins should be called
    -> do we want them to be mixins or classes?
    -> let's have them as mixins - more straightforward than @extend
    -> also what are the names for the different kinds?
        -> in govuk they have 
              $govuk-focus-text-colour
              $govuk-focus-colour
    -> ideas
        - plain-focus           - focus--color
        - text-focus            - focus--coloured
        - focus--text           - focus--bordered
        - focus--primary
        - focus--
- test furiously to find out what we've missed (especially inputs)
- general:
  - see if we can remove !important sufficiently
- buttons:
  - fix the Sort By button not having anything at all selected
  - fix non-pill buttons (there are many)
- inputs
  -
- fix logo SVG
    -> the css for the logo should set the path fill using $kew-focus-text-colour
- remove below styles after checking all of them
*/

// specific styles - these should be moved out
#grid_view,
#list_view {
  &:focus {
    // border-radius: 50%;
    box-shadow: 0 0 0 3px $kew-black;
    // todo: fix this and put in a mixin focus-circular-border
  }
}

.c-card a {
  &:focus {
    // @include focus-on-light-bg();
    // background: unset !important;
  }
}

// *,
// button,
// input,
// .form-control,
// .btn:focus,
// a {
//   &:focus {
//     outline: 3px solid $kew-focus-outline-yellow;
//     outline-offset: 0;
//     box-shadow: none;
//     &.top-link,
//     &.footer-link {
//       outline-offset: 3px;
//     }
//   }
// }

// .c-gallery a:focus,
// a.c-gallery-header {
//   outline-offset: -2px;
// }
