{{> partials/header title="Plants of the World Online | Kew Science"}}

<div id="svgs" style="display:none">
{{> (lookup '.' 'site-logo-svg') }}
</div>

<div class="s-page s-page--error s-theme-home {{ siteClass }}">
  <div class="s-page-wrapper">
    {{> partials/page-header }}

    <section>
      <div class="container error-msg">
        <h1>Something has gone wrong</h1>
        <a href="/" class="btn btn-lg error" role="button"> Back to Homepage</a>

      </div><!-- End Container -->
    </section>
    {{> partials/footer-links}}
  </div>
</div>
