{{> partials/header title="Plants of the World Online | Kew Science"}}
<div id="svgs" style="display:none">
{{> svg/leaf.svg }}
{{> svg/mushroom.svg }}
{{> svg/chevron.svg }}
{{> (lookup '.' 'site-logo-svg') }}
</div>
<div class="s-page s-page--home s-search__fullpage s-theme-home {{ siteClass }} invisible">
  <div class="s-page-wrapper">
    {{> partials/page-header}}

    <div class="c-search autocomplete-form">
      <div class="container">

        <div class="c-intro">
          {{> (lookup '.' 'intro') }}
        </div>
        <main id="main" class="front-page" tabindex="-1">
          {{> partials/search/search-box }}
        </main>
        <nav class="form-inline--search form-links"><a href="/about">{{{message "footer_about"}}}</a> | <a href="/search-help">{{{message "footer_help"}}}</a></nav>
      </div><!-- End Container -->
    </div>
    {{> partials/footer-links}}
  </div>
</div>
{{> partials/footer initialize="search"}}
