{{> partials/header title="Plants of the World Online | Kew Science"}}

<div id="svgs" style="display:none">
{{> (concat "svg/" siteId ".svg")}}
</div>

<div class="s-page s-page--error s-theme-home {{concat "s-" siteId}}">
  <div class="s-page-wrapper">
    {{> partials/page-header }}

    <section>
      <div class="container error-msg static_text">
        <h1>Page not found</h1>
        <a href="/">Back to Homepage</a>

      </div><!-- End Container -->
    </section>
    {{> partials/footer-links}}
  </div>
</div>
