{{> partials/header }}
<div id="svgs" style="display:none">
  {{> svg/leaf.svg }}
  {{> svg/mushroom.svg }}
  {{> svg/chevron.svg }}
  {{> (concat "svg/" siteId ".svg")}}
</div>
<div class="s-page s-page--home s-search__top {{concat " s-" siteId}}">
  <div class="s-page-wrapper">
    {{> partials/page-header }}
    <main class="c-search" id="main" tabindex="-1">
      
    </main>
    {{> partials/footer-links}}
  </div>
</div>
<script>
  window.siteData = {
    basePageTitle: "{{ title }}"
  }
</script>
{{> partials/footer initialize="search"}}