{{> partials/header }}
<div id="svgs" style="display:none">
  {{> svg/leaf.svg }}
  {{> svg/mushroom.svg }}
  {{> svg/chevron.svg }}
  {{> (concat "svg/" siteId ".svg")}}
</div>
<div class="s-page s-page--home s-search__top {{concat " s-" siteId}}">
  <div class="s-page-wrapper">
    {{> partials/page-header withSearchBox="true"}}
    <div class="c-search results-grid">
      {{> (concat "partials/cross-site-help/cross-site-help-" siteId) }}
      <!-- results loaded in results js/results -->
    </div>
    {{> partials/footer-links}}
  </div>
</div>
<script>
  window.siteData = {
    basePageTitle: "{{ title }}"
  }
</script>
{{> partials/footer initialize="search"}}