.c-autocomplete {

  margin-bottom: 1em;

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__option {
    border-bottom: $border-translucent;
    &:last-child {
      border-bottom: none;
    }
    span {
      display: inline-block;
    }
  }

  &--inline {
    z-index: 500;
    color: #000000;
    background-color: #FFFFFF;
    position: absolute;
    top: 65px;
    width: 100%;
    @include box-shadow(0 5px 10px rgba(0,0,0,.2));

    @media (max-width: $screen-sm-min) {
      top: 45px;
    }

    a {
      color: inherit;
      display: inline-block;
      padding: 10px $grid-gutter-width;
      width: 100%;
    }

    a:hover {
      text-decoration: none;
    }

    a:active {
      text-decoration: none;
    }

    .selected {
      background-color: #EEE;
    }
    .in_line {
      display: inline;
      float: right;
      font-style: italic;
      color: #999;
      text-align: right;

    }

    .c-autocomplete__option {
      border-bottom-color: rgba(#000000, 0.1);
      span {
        svg {
          fill: #333;
        }
      }
    }
  }
}

.js-autocomplete {

  .s-page-wrapper {
    z-index: 100;
  }

  .c-autocomplete {
    display: block;
  }

  .s-search-home {
    position: static;
    transform: translateY(0);
  }

  .s-page--home .c-footer {
    position: static;
  }

}

.js-fade-background {
  &:after {
    position: fixed;
    content: "";
    top: 0; left: 0; right: 0; bottom: 0;
    width: 100%;
    background-color: rgba(#000000,0.8);
    display: block;
  }
}
