a.collapser {
  white-space: inherit;
  text-align: left;

  h1, h2, h3, h4 { display: inline; }

  &::before {
    font-family: 'Glyphicons Halflings';
    font-size: 0.8em;
    padding-right: 1em;
    content: "\e114";
    color:#333333;
  }

  &.collapsed::before {
    content: "\e080";
  }

  &:active {
    box-shadow: none;
  }
}
