/*
* Component - Gallery Header
*/
.c-gallery-header {
  margin-left: -$grid-gutter-width;
  margin-right: -$grid-gutter-width;

  @media (min-width: $screen-md-min) {
    width: 50%;
    max-width: 700px;
    float: right;
    margin-left: auto;
  }

  .col {
    float: left;
    width: 100%;

    @media (min-width: $screen-md-min) {
      max-height: 300px;
    }

    @media (max-width: $screen-md-min) {
      max-height: 150px;
    }
  }
}

.c-gallery-header__img {
  @include fluid-ratio('portrait');
  background-color: #CCCCCC;
  border-left: 1px solid #FFFFFF;
  > img {
    position: absolute;
    width: 100%;
    @media (min-width: $screen-md-min) {
      min-height: 300px;
    }

    @media (max-width: $screen-md-min) {
      min-height: 150px;
    }
    top: 0; left: 0; right: 0; bottom: 0;
  }
}
