.c-header {
  overflow: hidden;
  a:link { text-decoration: none }
  h1 {
    font-weight: 700;
    font-size: $font-size-h2;

    @media (min-width: $screen-sm-min) {
      font-size: $font-size-h1;
    }
  }

  .container {
    @media (max-width: $screen-sm-min) { margin: 0; }

    small {
      display: block;
      font-size: 60%
    }
  }

  .featured {
    text-align: right;
    display: none;
    margin-top: 30px;
    float: right;
  }
}

#kew-logo {
  display: inline;

  @media (min-width: $screen-sm-min) {
  #kew-logo-svg {
    width: 200px;
    margin-top: 15px;
    height: 60px;
    }
  }
  @media (max-width: $screen-sm-min) {
    #kew-logo-svg {
      height: 45px;
      width: 130px;
    }
  }
}

.s-search__fullpage .featured {
  @media (min-width: $screen-sm-min) {
    display: block;
  }
}

.c-header .powo-logo {
  height: 60px;
  margin-top: 15px;
  width: 160px;
  border-left: 1px solid #000;
  padding-left: 15px;
  margin-left: 15px;

  @media (max-width: $screen-sm-min) {
    height: 45px;
    width: 125px;
    padding-left: 10px;
    margin-top: 10px;
    margin-left: 5px;
  }
}

.s-search__fullpage .c-header .powo-logo {
  display: none;
}
