$header-logo-height: 47px;

.c-header {
  overflow: hidden;
}

.c-header__logo,
.c-header__actions {
  height: $header-logo-height;
  line-height: $header-logo-height;
  margin: 30px 0;
  @media (max-width: $screen-sm-min) { margin: 10px 0; }
}

.c-header__logo {
  width: 213px;
  float: left;
}

.c-header__actions {
  float: right;
  display: none;
  @media (min-width: $screen-sm-min) {
    display: block;
  }
}
