$header-logo-height: 47px;

.c-header {
  overflow: hidden;
  a:link { text-decoration: none }
  h1 {
    float: left;
    font-weight: 700;
    font-size: $font-size-h2;

    @media (min-width: $screen-sm-min) {
      font-size: $font-size-h1;
    }
  }

  .container {
    @media (max-width: $screen-sm-min) { margin: 10px 0; }

    small {
      display: block;
      color: grey;
      font-size: 60%
    }
  }

  .featured {
    display: none;
    margin-top: 30px;
    float: left;
  }
}

#kew-logo {
  display: none;
  float: right;

  @media (min-width: $screen-sm-min) { display: block; }
  #kew-logo-svg {
    width: 200px;
    height: 25px;
    margin: 30px 0;
  }
}

.s-search__fullpage .featured {
  @media (min-width: $screen-sm-min) {
    display: block;
  }
}

.s-search__fullpage #powo-title {
  display: none;
}
