$header-logo-height: 47px;

.c-header {
  overflow: hidden;
  a:link { text-decoration: none }
  h1 {
    float: left;
    font-weight: 700;
    font-size: $font-size-h2;

    @media (min-width: $screen-sm-min) {
      font-size: $font-size-h1;
    }
  }
}

.c-header__logo,
.c-header__actions {
  @media (max-width: $screen-sm-min) { margin: 10px 0; }

  small {
    color: grey;
    font-size: 60%
  }
}


.c-header__actions {
  float: right;
  display: none;
  @media (min-width: $screen-sm-min) {
    display: block;
  }

  #kew-logo-svg {
    width: 200px;
    height: 25px;
    margin: 30px 0;
  }
}

