/*
* Pagination
*/
.pagination {
  padding: 1em 0;
  margin: 0;
  border-radius: 0;
}

.c-pagination {
  color: $btn-default-color;
  border: 1px solid #CCCCCC;
  border-top: none;
  text-align: center;
}