/*
 * Component - Results
 */
.c-results-outer {
  background-color: #fff;
  margin-top: 0;
  @media (max-width: $screen-xs-max) {
    margin-top: 10px;
  }

  a {
    color: #000;
  }

  article:last-child {
    border-right: $border-grey;
  }

  .grid--lines {
    padding: 0;
    margin: 0;
  }

  .container--lines {
    padding: 0 15px;
  }

  .selected_background {
    background-color: #e7e7e7;
  }

  .navbar {
    min-height: auto;
  }

  .navbar-right {
    margin-right: 0;
  }
}

.grid--rows {
  #list_view {
    background-color: #e7e7e7 !important;
  }
}

.grid--columns {
  #grid_view {
    background-color: #e7e7e7 !important;
  }
}

.results-count {
  color: $navbar-default-color;
  float: left;
  margin: 7px 20px;

  @media (max-width: $screen-xs-max) {
    border-right: 0;
    margin: 12px 0;
    padding: 0;
  }
}

.navbar .filters {
  display: none;
}

@media(max-width: $screen-xs-max) {
  .navbar {
    .layout-toggle {
      display: none;
    }

    .navbar-toggle {
      margin-right: 0;
    }

    .navbar-nav {
      margin: 0px;
    }

    .filters {
      display: block;
      padding: 0;

      a {
        margin: 2px 0;
        border-radius: 4px;
      }
    }
  }
}
