/*
* Component - Results
*/
.c-results-outer {
  padding-top: $navbar-padding-vertical * 2;

  article:last-child {
    border-right: $border-grey;
  }

  .legend {
    span {
      display: inline-block;
      width: 0.75em;
      height: 0.75em;
      margin: 0 0.7em;
    }

    p {
      margin: 0;
    }

    .Family { background-color: #336699; }
    .Genus { background-color: #339999; }
    .Species { background-color: #669933; }
    .Synonym { background-color: #c7c7c7; }
  }
}
.selectedFacet {
  color: #000 !important;
}
.selected_background{
    background-color: #e7e7e7 !important;
}
