/*
* Component - Results
*/
.c-results-outer {
  padding-top: $navbar-padding-vertical * 2;
  background-color: #fff;
  a {
    color: #000;
  }

  article:last-child {
    border-right: $border-grey;
  }

  .legend {
    span {
      display: inline-block;
      width: 0.75em;
      height: 0.75em;
      margin: 0 0.7em;
    }

    p {
      color: #777;
      margin: 0;
    }

    .Family { background-color: #336699; }
    .Genus { background-color: #339999; }
    .Species { background-color: #669933; }
    .Infraspecific { background-color: #993399; }
    .Synonym { background-color: #c7c7c7; }
  }

  .grid--lines {
    padding: 0;
    margin: 0;
  }

  .container--lines {
    padding: 0 15px;
  }

}

.selectedFacet {
  color: #000 !important;
}

.grid--rows {
    #list_view {
      background-color: #e7e7e7 !important;
    }
  }

  .grid--columns {
    #grid_view {
      background-color: #e7e7e7 !important;
    }
  }
