/*
* Component - Search
*/
.c-search {

  .btn-link,
  a {
    color: #FFFFFF;
  }

  &__refine {
    padding-bottom: 1rem;
  }

  &__title {
    margin: 0 0 1em;
    @media (min-width: $screen-md-min) { margin: 0.8em; }
    @media (max-width: $screen-sm-min) { display: none; }
  }

  &__filters { display: none; }

  &__advanced {
    @media (min-width: $screen-md-min) {
      position: absolute;
      top: 2em;
      right: 10px;
    }

    @media (max-width: $screen-sm-min) {
      display: none;
    }
  }

  .tokenfield .token {
    height: auto;
    margin-bottom: 0;

    .close {
      color: #000;
    }
  }

  .suggestion-category {
    color: #ccc;
    float: right;

    @media (max-width: $screen-sm-min) {
      display: none;
    }
  }
}

.s-search__fullpage .c-search {
  position: absolute;
  top: 40%;
  left: 5%;
  width: 90%;
  transform: translateY(-50%);
}


.results-kingdom {
  width: 17px;
  height: 14px;
}

.chevron {
  width: 11px;
  height: 11px;
}
