/*
* Component - Search
*/
.c-search {
  background: url('../img/raster/Anagallis_arvensis_06.jpg') no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-color: black;
  background-position-y: 100%;
  background-position-x: 240px;

  color: #FFFFFF;

  .btn-link,
  a {
    color: #FFFFFF;
  }

  &__refine {
    padding-bottom: 1rem;
  }

  &__title {
    margin: 0 0 1em;
    @media (min-width: $screen-md-min) { margin: 1em 0 1.5em; }
    @media (max-width: $screen-sm-min) { display: none; }
  }

  &__filters { display: none; }

  &__advanced {
    @media (min-width: $screen-md-min) {
      position: absolute;
      top: 2em;
      right: 10px;
    }

    @media (max-width: $screen-sm-min) {
      display: none;
    }
  }
}

.results-kingdom {
  width: 25px;
  height: 17px;
}

.chevron {
  width: 11px;
  height: 11px;
}
