<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:batch="http://www.springframework.org/schema/batch" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	                    http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc.xsd
	                    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
	                    http://www.springframework.org/schema/batch http://www.springframework.org/schema/batch/spring-batch.xsd">

	<bean name="jobLauncherTestUtils" class="org.springframework.batch.test.JobLauncherTestUtils">
		<property name="jobRepository" ref="jobRepository" />
		<property name="jobLauncher" ref="jobLauncher" />
	</bean>

	<bean id="conversionService"
		class="org.springframework.context.support.ConversionServiceFactoryBean">
		<property name="converters">
			<list>
				<bean class="org.emonocot.model.geography.GeographyConverter" />
				<bean class="org.emonocot.model.reference.ReferenceTypeConverter" />
				<bean class="org.emonocot.model.taxon.RankConverter" />
			</list>
		</property>
	</bean>
	
	<bean id="validator"
      class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean"/>

	<bean name="jobRepository"
		class="org.springframework.batch.core.repository.support.MapJobRepositoryFactoryBean" />

	<bean
		class="org.springframework.batch.core.configuration.support.JobRegistryBeanPostProcessor">
		<property name="jobRegistry" ref="jobRegistry" />
	</bean>

	<bean id="jobRegistry"
		class="org.springframework.batch.core.configuration.support.MapJobRegistry" />

	<bean id="jobLauncher"
		class="org.springframework.batch.core.launch.support.SimpleJobLauncher">
		<property name="jobRepository" ref="jobRepository" />
	</bean>

	<jdbc:embedded-database id="dataSource" type="H2">
	    <jdbc:script location="classpath:/org/springframework/batch/core/schema-drop-h2.sql" />
	    <jdbc:script location="classpath:/org/springframework/batch/core/schema-h2.sql" />
		<jdbc:script location="classpath:H2_schema.ddl" />
		<jdbc:script location="classpath:test_data.sql" />
	</jdbc:embedded-database>

	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="hibernateProperties">
			<value>
				hibernate.dialect=org.hibernate.dialect.H2Dialect
				hibernate.hbm2ddl.auto=validate
				hibernate.search.default.directory_provider=filesystem
				hibernate.search.default.indexBase=./target/indexes
            </value>
		</property>
		<property name="configLocation"
			value="classpath:org/emonocot/model/hibernate.cfg.xml" />
		<property name="configurationClass" value="org.hibernate.cfg.AnnotationConfiguration" />
	</bean>

	<bean id="transactionManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<context:component-scan base-package="org.emonocot.service.impl" />
	<context:component-scan base-package="org.emonocot.persistence.dao.hibernate"/>

	<context:annotation-config />

</beans>
