<div class="c-autocomplete {{theme}}">
  <ul class="c-autocomplete__list" tabindex="-1" role="listbox" aria-expanded="true">
  {{#each suggestions}}
    {{#each this}}
      <li role="option" class="c-autocomplete__option">
        <a href="#">{{ this }}</a>
      </li>
    {{/each}}
  {{/each}}
  </ul>
</div>
