<div class="c-autocomplete {{theme}}">
  <h3>Family name</h3>
  <ul class="c-autocomplete__list" tabindex="-1" role="listbox" aria-expanded="true">
    <li role="option" class="c-autocomplete__option">
      <span>{{>leaf}} Famliy</span>
      <a href="#">Molecular evolution and <strong>phylo</strong>genetics of complete chloroplast genomes in Poaceae</a>
    </li>
    <li role="option" class="c-autocomplete__option">
      <span>{{>leaf}} Famliy</span>
      <a href="#">Molecular evolution and phylogenetics of complete chloroplast genomes in Poaceae</a>
    </li>
    <li role="option" class="c-autocomplete__option">
      <span>{{>leaf}} Famliy</span>
      <a href="#">Molecular evolution and phylogenetics of <strong>comple</strong>te chloroplast genomes in Poaceae</a>
    </li>
    <li role="option" class="c-autocomplete__option">
      <span>{{>leaf}} Famliy</span>
      <a href="#">Molecular evolution and phylogenetics of complete chloroplast genomes in Poaceae</a>
    </li>
  </ul>
  <h3>Genus</h3>
  <ul class="c-autocomplete__list" tabindex="-1" role="listbox" aria-expanded="true">
    <li role="option" class="c-autocomplete__option">
      <span>{{>leaf}} Famliy</span>
      <a href="#">Molecular evolution and phylogenetics of complete chloroplast genomes in Poaceae</a>
    </li>
    <li role="option" class="c-autocomplete__option">
      <span>{{>leaf}} Famliy</span>
      <a href="#">Molecular evolution and phylogenetics of complete chloroplast genomes in Poaceae</a>
    </li>
    <li role="option" class="c-autocomplete__option">
      <span>{{>leaf}} Famliy</span>
      <a href="#">Molecular evolution and phylogenetics of complete chloroplast genomes in Poaceae</a>
    </li>
  </ul>
  <h3>Species</h3>
  <ul class="c-autocomplete__list" tabindex="-1" role="listbox" aria-expanded="true">
    <li role="option" class="c-autocomplete__option">
      <span>{{>leaf}} Famliy</span>
      <a href="#">Molecular evolution and phylogenetics of complete chloroplast genomes in Poaceae</a>
    </li>
    <li role="option" class="c-autocomplete__option">
      <span>{{>leaf}} Famliy</span>
      <a href="#">Molecular evolution and phylogenetics of complete chloroplast genomes in Poaceae</a>
    </li>
    <li role="option" class="c-autocomplete__option">
      <span>{{>leaf}} Famliy</span>
      <a href="#">Molecular evolution and phylogenetics of complete chloroplast genomes in Poaceae</a>
    </li>
    <li role="option" class="c-autocomplete__option">
      <span>{{>leaf}} Famliy</span>
      <a href="#">Molecular evolution and phylogenetics of complete chloroplast genomes in Poaceae</a>
    </li>
  </ul>
</div>