<button type="button" class="btn btn-link {{searchTerm}}">
  {{ searchTerm }} {{ searchValue }}
  <span class="glyphicon glyphicon-remove" aria-hidden="true" data-term="{{searchTerm}}"></span>
</button>
