<div class="form-group">
  <label for="searchinput">Place of publication</label>
  <div class="row">
    <div class="col">
      <input type="text" class="form-control" id="searchinput" placeholder="">
    </div>
  </div>
</div>