<div class="row">
  <form class="form-add form-inline form-inline--search">
    <div class="form-group form-inline__input">
      <label for="refine" class="sr-only">Search</label>
      <input class="form-control refine" placeholder="Search by tdwg region">
      {{>autocomplete theme="c-autocomplete--inline"}}
    </div>
    <button type="submit" class="btn btn-default">Search</button>
  </form>
</div>
