<form class="form-inline--search">
  <label for="refine" class="sr-only">Search</label>
  <input
     type="search"
     class="form-control refine"
     data-suggester="scientific-name,location,characteristic,common-name"
     data-count=2
     data-showsuggester=true
     placeholder="Search by species, genus or family name, or any words describing the plant">
  <button type="submit" class="btn btn-default">Search</button>
</form>
