<div class="container">
  <div class="row"> 
    <form class="form-inline form-inline--advanced">
      <div class="form-group">
        <label for="exampleInputName2">Species epithet</label>
        <input type="text" class="form-control" id="exampleInputName2" placeholder="Jane Doe">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail2">Infraspecific Rank</label>
        <input type="email" class="form-control" id="exampleInputEmail2" placeholder="jane.doe@example.com">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail2">Author</label>
        <input type="email" class="form-control" id="exampleInputEmail2" placeholder="">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail2">Place of publication</label>
        <input type="email" class="form-control" id="exampleInputEmail2" placeholder="">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail2">Habitat</label>
        {{>select-replacement}}
      </div>
    </form>
  </div>
</div>