<div class="row">
  <form class="form-add form-inline form-inline--search">
    <div class="form-group form-inline__select">
      <div class="c-select">
        <span class="c-select__default">
          <span class="text">All</span>
          <svg class="chevron">
            <use xlink:href="#chevron-svg"></use>
          </svg>
        </span>
        <select class="searchselect c-select__control form-control">
          <option data-suggester="characteristic" value="Any Characteristic">All</option>
          <option data-suggester="characteristic-appearance" value="Appearance">Appearance</option>
          <option data-suggester="characteristic-inflorescence" value="Inflorescence">Inflorescence</option>
          <option data-suggester="characteristic-fruit" value="Fruit">Fruit</option>
          <option data-suggester="characteristic-leaves" value="Leaves">Leaves</option>
          <option data-suggester="characteristic-flower" value="Flowers">Flowers</option>
          <option data-suggester="characteristic-cloning" value="Cloning">Cloning</option>
        </select>
      </div>
    </div>
    <div class="form-group form-inline__input">
      <label for="refine" class="sr-only">Search</label>
      <input type="search" class="form-control refine" data-suggester="characteristic" placeholder="Enter a plant characteristic such as '5 petals' or 'red flowers'...">
    </div>
    <button type="submit" class="btn btn-default">Search</button>
  </form>
</div>
