<div class="row">
  <form class="form-add form-inline form-inline--search">
    <div class="form-group form-inline__select">
      <div class="c-select">
        <span class="c-select__default">
          <span class="text">All</span>
          <svg class="chevron">
            <use xlink:href="#chevron-svg"></use>
          </svg>
        </span>
        <select class="searchselect c-select__control form-control">
          <option data-suggester="scientific-name" value="All Names">Scientific</option>
          <option data-suggester="family" value="Family">Family</option>
          <option data-suggester="genus" value="Genus">Genus</option>
          <option data-suggester="species" value="Species">Species</option>
          <option data-suggester="common-name" value="Common Name">Common</option>
        </select>
      </div>
    </div>
    <div class="form-group form-inline__input">
      <label for="refine" class="sr-only">Search</label>
      <input type="search" class="form-control refine" data-suggester="scientific-name" placeholder="Enter Family, Genus or Species name ...">
    </div>
    <button type="submit" class="btn btn-default">Search</button>
  </form>
</div>
