<div class="row">
  <form class="form-add form-inline form-inline--search">
    <div class="form-group form-inline__select">
      <div class="c-select">
        <span class="c-select__default">
          <span class="text">All</span>
          <svg class="svg--sprite-chevron-dims">
            <use xlink:href="#sprite-chevron"></use>
          </svg>
        </span>
        <select class="searchselect c-select__control form-control">
          <option value="Any Characteristic">All</option>
          <option value="Appearance">Appearance</option>
          <option value="Inflorescence">Inflorescence</option>
          <option value="Fruit">Fruit</option>
          <option value="Leaves">Leaves</option>
          <option value="Flowers">Flowers</option>
        </select>
      </div>
    </div>
    <div class="form-group form-inline__input">
      <label for="refine" class="sr-only">Search</label>
      <input class="form-control refine" data-suggester="characteristic" placeholder="Enter a plant characteristic such as '5 petals' or 'red flowers'...">
    </div>
    <button type="submit" class="btn btn-default">Search</button>
  </form>
</div>

