<div class="row">
  <div class="form-group">
    <button type="button" id="select-all" class="btn btn-pill btn-white">Select All</button>
    <button type="button" id="deselect-all" class="btn btn-pill btn-white">Deselect All</button>
    <form id="form-inline form-inline--search">
      <div class="checkbox-group"><label><input type="checkbox" value="Animal Food">Animal Food</label></div>
      <div class="checkbox-group"><label><input type="checkbox" value="Environmental Uses">Environmental Uses</label></div>
      <div class="checkbox-group"><label><input type="checkbox" value="Fuels">Fuels</label></div>
      <div class="checkbox-group"><label><input type="checkbox" value="Gene Sources">Gene Sources</label></div>
      <div class="checkbox-group"><label><input type="checkbox" value="Human Food">Human Food</label></div>
      <div class="checkbox-group"><label><input type="checkbox" value="Invertebrate Food">Invertebrate Food</label></div>
      <div class="checkbox-group"><label><input type="checkbox" value="Material">Material</label></div>
      <div class="checkbox-group"><label><input type="checkbox" value="Medicine">Medicine</label></div>
      <div class="checkbox-group"><label><input type="checkbox" value="Poison">Poison</label></div>
      <div class="checkbox-group"><label><input type="checkbox" value="Social Uses">Social Uses</label></div>
    </form>
  </div>
</div>
