<div class="row">
  <form class="form-add form-inline form-inline--search">
    <div class="form-group form-inline__fullwidth">
      <label for="refine" class="sr-only">Search</label>
      <input type="search" class="form-control refine" data-suggester="location" placeholder="Search by tdwg region">
    </div>
    <button type="submit" class="btn btn-default">Search</button>
  </form>
</div>
