<div class="c-select">
  <span class="c-select__default">
    <span class="text">All</span>
    <svg class="svg--sprite-chevron-dims">
      <use xlink:href="#sprite-chevron"></use>
    </svg>
  </span>
  <select class="c-select__control form-control">
    <option>All</option>
    <option>Family</option>
    <option>Genus</option>
    <option>Species</option>
    <option>Common</option>
  </select>
</div>