<article class="c-card {{theme}}">
	<span class="c-card__type">{{text}}</span>
	<a href="content.html"><h2 class="c-card__title">Hyacinthoides non-scripta <cite>(L.) Chouard ex Rothm</cite></h2></a>
	<p>Common name: Bluebell ipsum dolor sit amet, vel eu paulo quaeque ex sit odio veniam molestie.</p>
	<span>Published: </span><datetime>1944</datetime>
	<div itemscope itemtype="http://schema.org/ImageGallery" class="c-gallery-thumbs">
    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" class="c-gallery-thumbs__img">
      <div class="c-gallery-thumbs__bg">
        <a href="img/raster/example-image.jpg" itemprop="contentUrl">
          <img src="img/raster/example-image-portrait.jpg" itemprop="thumbnail" alt="Image description" />
        </a>
      </div>
    </figure>
    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" class="c-gallery-thumbs__img">
      <div class="c-gallery-thumbs__bg">
        <a href="img/raster/example-image.jpg" itemprop="contentUrl">
          <img src="img/raster/example-image-2-portrait.jpg" itemprop="thumbnail" alt="Image description" />
        </a>
      </div>
    </figure>
    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" class="c-gallery-thumbs__img">
      <div class="c-gallery-thumbs__bg">
      </div>
    </figure>
	</div>
</article>