<h1>Contact Us</h1>
<p>
  For further information, to provide feedback, or make an enquiry about ColFungi, please email us on <a href="mailto:colfungi@kew.org">colfungi@kew.org</a>. If like so many of us, you have large number of plant images with which you do very little, then we would be happy to hear from you and will endeavour to incorporate them into ColFungi under whichever copyright you prefer.

</p>  
<p>It is important to stress that data are not edited in ColFungi but only by the contributing datasets, some of which are no longer active. We will forward any specific enquiry to the relevant data providers or you can directly email them yourself. Any corrections made by the contribution datasets will be visible on ColFungi when the data are refreshed.</p>