.s-colfungi {
  .main-content {
    background-image: url("/img/raster/ColFungi.jpg") !important;
  }

  .featured {
    display: none;
  }

  .c-header {
    .site-logo {
      display: none;
    }
    .container {
    padding-left: 16px;
    padding-right: 16px;
      @media (min-width: $screen-md-min) {
        padding-left: 100px;
        padding-right: 100px;
      }
    }
  }

  &.s-page--home,
  &.s-page--error {
    #kew-upfc-logo-svg {
      path,
      text {
        fill: $kew-black;
      }
      #Bar {
        fill: $kew-black;
      }
      #Map {
        fill: $White;
      }
      #Background {
        fill: $upfc-green;
      }
    }

    &.s-search__fullpage {
      .site-logo {
        height: 70px;
      }
    }
  }
}
