.s-colfungi {
  .featured {
    display: none;
  }

  .c-header {
    .site-logo {
      display: none;
    }
  }

  &.s-page--home,
  &.s-page--error {
    .c-search {
      background-image: url("/img/raster/ColFungi.jpg") !important;
    }
    #kew-upfc-logo-svg {
      path,
      text {
        fill: $kew-black;
      }
      #Bar {
        fill: $kew-black;
      }
      #Map {
        fill: $White;
      }
      #Background {
        fill: $upfc-green;
      }
    }

    &.s-search__fullpage {
      .site-logo {
        height: 70px;
      }
    }
  }
}
