.s-colplanta {

  .featured { display: none; }

  &.s-page {
    background-image: url('/img/raster/ColPlantA.jpg') !important;
  }

  &.s-page--home,
  &.s-page--error {
    &.s-search__fullpage {
      .site-logo {
        fill: #fff;
      }
    }

    .site-logo {
      height: 70px;
      width: 300px;
      fill: #232323;
    }
    
    #kew-logo-svg {
      fill: #000; 
    }
  }
}
