.s-upb {
  .featured { display: none; }

  &.s-page--home,
  &.s-page--error {
    background-image: url('/img/raster/upb.jpg');

    #upb-logo-svg {
      width: 200px;
      height: 60px;
      fill: #232323;
    }

    .site-logo {
      border-left-color: #000;
      fill: #232323;
    }

    #kew-logo-svg {
      fill: #000;
    }
  }
}
