<h1>Cite Us</h1>

<h2 >Citation and attribution</h2>
 
<p>If you use our data, we strongly encourage you to cite or reference this work as you would any other scientific
  research (even if the license does not explicitly require you to).</p>
<p>Many of the datasets are the result of a huge amount of time and effort invested by Kew staff and
  collaborators. Some represent an individual's work over many decades. Citing this data allows us to measure the
  impact of the research and encourages others to deposit their data into the portal.</p>

<h3>Citing ColFungi</h3>
<blockquote>ColFungi ({{citationYear}}). "Useful Fungi of Colombia. Facilitated by the Royal Botanic Gardens, Kew.
  Published on the Internet; https://colfungi.org/<br>Retrieved {{citationDate}}."</blockquote>
<p>Update accordingly to include the date you accessed the site.</p>
