<h1>Cite Us</h1>

<h3>Citing ColPlantA</h3>
<blockquote>ColPlantA ({{citationYear}}). "Useful Plants of Colombia. Facilitated by the Royal Botanic Gardens, Kew.
  Published on the Internet; https://colplanta.org/<br>Retrieved {{citationDate}}."</blockquote>
<p>Update accordingly to include the date you accessed the site.</p>
<h3>Citing PoWO</h3>
<blockquote>POWO ({{citationYear}}). "Plants of the World Online. Facilitated by the Royal Botanic Gardens, Kew. Published on
  the Internet; http://www.plantsoftheworldonline.org/<br>Retrieved {{citationDate}}."</blockquote>
<p>Update accordingly to include the date you accessed the site.</p>
