.main-content {
  min-height: 80vh;
  background-image: url('/img/raster/Anagallis_arvensis_06.jpg');
  background-size: cover;
  background-position-x: 25%;
  background-position-y: 25%;
  background-repeat: no-repeat;
}
