/*
 * Form - Inline defaults
 */
.form-inline {
  select,
  input {
    border-radius: $input-radius;
  }
  select {
    option {
      color: #000000;
      font-size: 16px;
      padding: 0.4em 1.5em;
    }
  }
}
/*
 * Form - Inline form, home and results page.
 */
.s-page {
  .form-inline--search {
    &.input-group {
      .input-group-btn {
        width: 54px;
        position: absolute;
        right: 2px;
      }
    }
    position: relative;
    width: 100%;
  }
  /*
  * Links below the search box.
  */
  .form-links {
    // display: none;
    display: flex;
    justify-content: flex-end;
    padding: 15px 16px 0;
    @media (min-width: $screen-md-min) {
      padding: 15px 100px 0;
    }
    li {
      list-style: none;
      color: $White;
      .form-link {
        border-bottom: 2px solid $White;
        padding-bottom: 1px;
        text-decoration: none !important; /* override default interaction states */
        color: $White;
        svg {
          fill: $White;
        }
        &:focus,&:hover {
          border-bottom-width: 3px;
          padding-bottom: 0;
        }
      }
    }
  }
  &.s-search__fullpage {
      input {
        width: 100%;
      }
      .form-links {
        padding: 15px 0 0;
      }
    }
 }


/*
 * Form - Inline form, advanced modal.
 */
.form-inline--advanced {

  .form-group {
    border-bottom: 1px solid rgba(#FFFFFF,0.1);
    width: 100%;
    margin: 0;
    padding: 2em 0;
    display: flex;
    align-items: center;
    label {
      width: 25%;
    }
    .row {
      flex-grow: 1;
    }
  }

  .row {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
    .seperator {
      padding: 0 10px;
    }
    .col {
      flex-grow: 1;
      padding: 0 10px;
    }
  }

  .c-select {
    width: 100%;
  }

  .form-control {
    width: 100%;
    background-color: transparent;
    color: #FFFFFF;
    border: $border-translucent;
    padding: $input-padding-small;
    &:focus {
      background-color: #FFFFFF;
      color: #000000;
    }
  }

  .form-group-range {
    .seperator {
      display: inline-block;
      padding: 0 25px;
    }
    .c-select {
      width: 25%;
    }
  }
}
