/*
* Grid
*/
.grid {}

.grid--columns {
      .grid {
        > * {
          @include make-sm-column(6);
          @include make-md-column(4);
          @include make-lg-column(3);
          @include make-hg-column(3);
        }
      }
  }




.grid--lines {
  margin: 0 ($grid-gutter-width / 2);
  border-top: $border-grey;
  border-right: $border-grey;
  > * {
    border-left: $border-grey;
    border-bottom: $border-grey;
  }

}

.grid--equal-heights {
  display: flex;
  flex-wrap: wrap;
}

.container-fluid {

  padding-left: $grid-gutter-width / 2;
  padding-right: $grid-gutter-width / 2;

  @media (min-width: $screen-md-min) {
    padding-left: $grid-gutter-width;
    padding-right: $grid-gutter-width;
  }

}

.skip-main {
  left:-999px;
  position:absolute;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
  z-index:-999;
  -webkit-clip: rect(1px 1px 1px 1px);
}
.skip-main:focus {
  background-color: #fff;
  position: static;
}
.skip-main:active {
  background-color: #fff;
  position: static;
}
