<html>
    <body>
        <p>Hi,</p>
        <p>You received a comment about ${comment.aboutData} (${comment.aboutData.identifier}) from ${comment.user.username}.</p>
        <p>It was:</p>
        <p>${comment.comment}</p>
        <p>Kind Regards,<br />
            The eMonocot Portal</p>
    </body>
</html>
