#set($aboutClass = $comment.aboutData.class.simpleName)
##TODO #if $aboutClass else to #set($aboutString = ???)
<html>
    <body>
        <p>Hi,</p>
        <p>You received a comment from $!comment.user.username about $!comment.aboutData ($!comment.aboutData.identifier contributed by $!comment.aboutData.authority).</p>
        <p>It was:</p>
        <p>$comment.comment</p>
        <p>Kind Regards,<br />
            The eMonocot Portal</p>
    </body>
</html>
