#set($aboutClass = "$comment.aboutData.class.simpleName")
#if($aboutClass == "Taxon" || $aboutClass == "Image")
    #set($aboutString = "$comment.aboutData")
#elseif(($aboutClass == "Description" || $aboutClass == "Distribution" || $aboutClass == "Identifier" ||
        $aboutClass == "MeasurementOrFact" || $aboutClass == "VernacularName"))##Anything that doesn't have a page/appears on the taxon page
    #set($aboutString = "the $aboutClass for comment.aboutData.taxon")
#elseif($aboutClass == "IdentificationKey")
    #set($aboutString = "$comment.aboutData.title ($aboutClass)")
#elseif($aboutClass == "Reference")
    #set($aboutString = "$comment.aboutData ($aboutClass)")
#else
    #set($aboutString = "an $aboutClass with the identifier $comment.aboutData.identifier")
#end
#set($contributingOrg = $comment.aboutData.authority)
#if(! $contributingOrg)##for comments on a 'Resource'
    #set($contributingOrg = $comment.aboutData.organisation)
#end
<html>
    <body>
        <p>Hi,</p>
        <p>You received a comment from $!comment.user.username about $aboutString ($!comment.aboutData.identifier contributed by
            $!contributingOrg.identifier, $!contributingOrg.publisherEmail $!contributingOrg.creatorEmail).</p>
        <p>It was:</p>
        <p>$comment.comment</p>
        <p>Kind Regards,<br />
            The eMonocot Portal</p>
    </body>
</html>
