#set($commentPage = "$comment.commentPage.className")
#if($commentPage == "Taxon")
    #set($pageTitle = "<em>${comment.commentPage.scientificName}</em> ${comment.commentPage.scientificNameAuthorship}")
    #set($pageUrl = "/taxon/${comment.commentPage.identifier}")
    #if(! $comment.aboutData)
      #set($objectId = "${comment.commentPage.identifier}")
      #set($contributingOrg = $comment.commentPage.authority)
    #else
       #set($objectId = "${comment.aboutData.identifier}")
       #set($contributingOrg = $comment.aboutData.authority)
       #set($about = "${comment.aboutData}")
    #end
#elseif($commentPage == "Image")##Anything that doesn't have a page/appears on the taxon page
    #set($pageTitle = "${comment.commentPage.title}")
    #set($pageUrl = "/image/${comment.id}")
    #set($objectId = "${comment.commentPage.identifier}")
    #set($contributingOrg = $comment.commentPage.authority)
    #set($about = "${comment.aboutData}")
#elseif($commentPage == "IdentificationKey")
    #set($pageTitle = "${comment.commentPage.title}")
    #set($pageUrl = "/key/${comment.commentPage.id}")
    #set($objectId = "${comment.commentPage.identifier}")
    #set($contributingOrg = $comment.commentPage.authority)
    #set($about = "${comment.aboutData}")
#end

#if(! ${contributingOrg.publisherEmail})
  #set($contributingEmail = $contributingOrg.creatorEmail)
#else
  #set($contributingEmail = $contributingOrg.publisherEmail)
#end

#if(! ${comment.user})
  #set($user = "An anonymous user")
#else
  #set($user = "${comment.user.accountName}")
#end


<html>
    <body>
        <p>Hi,</p>
        <p>${user} replied to your comment ("${comment.inResponseTo.comment}") about <a href="http://e-monocot.org${pageUrl}">${pageTitle}</a> $!{comment.subject} $!{about}($!{objectId} contributed by
            <a href="mailto:$!{contributingEmail}">$!{contributingOrg.identifier}</a>).</p>
        <p>The reply was:</p>
        <p>${comment.comment}</p>
        <p>Kind Regards,<br />
            The eMonocot Portal</p>
        <p>You can reply to this comment by replying to this email. Please delete the content of the original email in the reply, as your entire email will be published as your response on the eMonocot Portal.</p>
    </body>
</html>
