/**
 * eMonocot customization
 */
body{padding-top:40px;}

.taxonName {font-style: italic}

#page-title {line-height: 65px}

#distribution-textual {list-style:none;margin:0px; padding-left:0; text-indent:0; clear: both}
#distribution-textual li {float:left; padding-left:0.5em}
#distribution-textual li:first-child:before {padding-left: 0em}
#distribution-textual li:after {content: ","}
#distribution-textual li:last-child:after {content: ""}
section {width: 100%; clear: both; padding-top: 60px}
.section-header {margin: 18px 0}
#textContent {padding-top: 78px}

/**
 * BUG # 301: As a user of eMonocot I do not expect there to be gaps where it looks like there are missing images when looking at the images in a grid
 * Explicitly set the width and height of thumbnails to avoid the odd 
 * divide-by-zero error when a thumbnail has been resized to 101px or 99px
 */
 
.thumbnail > img {    
    height: 100px;
    width: 100px;
}

// Images and captions
.thumbnail > a > img {
  display: block;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}


.carousel.jcarousel .item {
    width: 20000em;
}

ul.citations {
    list-style: none;
}

ul.citations {
    list-style: none;
    margin: 0px;
    float: right;
}

ul.citations:before {
    content: "[";
}

ul.citations:after {
    content: "]";
}

ul.citations li {
  display: inline;
}

ul.citations li:last-child:after {
    content: "";
}
ul.citations li:after {
    content: ",";
}
ul.citations li:before {
    content: "";
}
section#bibliography li a:before {
    content: "[";
}
section#bibliography li a:after {
    content: "]";
}
section#bibliography ul {
    list-style: none;
}

.jumbotron {
    min-width: 940px;
}

.jumbotron-inner {
    position: relative;
    z-index: 300;
    box-shadow: none;
    padding: 45px 0;
}

.jumbotron h1, .jumbotron p {
    color: #FFFFFF;
    margin-bottom: 9px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}

.jumbotron h1 {
    font-size: 48px;
    line-height: 1;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

.title-no-bold{
	font-weight:normal;
}

.title-bold{
	font-weight:bold;
}

.content-wrapper{
	padding-left: 20px;
}

.centeredImage{
    text-align:center;
    display:block;
}

.no-display{
	display: none;
}

.right{
	float:right;
}

.no-margin{
	//margin:0 0 0 0;
}

.header-margin{
	margin:-20px -20px 20px -20px;
}

.thumbnail-gallery-padding li{
	margin:0 0 0 0;
}

.no-margin-left{
	margin-left:0px;
}

.justified{
	text-align:justify;
}

.taxon-page-map{
	height: 470px;
	width: 580px
}


#gallery{
	padding: 10px;
}


.taxon-content{
	margin-top:40px;
}

.header-icon { padding-left: 0.5em; padding-right: 0.5em; }

.navbar .navbar-search input { padding: 4px 10px 6px; margin-top: 12px; }

.icon-column{
	width:70px;
	}
	
.icon-keys{
  background-image:url(./images/glyphicons/fullsize/glyphicons_044_keys.png);
  background-position: 0 0;
  background-size: 14px 14px;
  }
	
.tabbable-bordered {
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
}

.no-small-icon{
	padding-left:20px;
}

footer {
	background-color:#252525;
	margin-top:20px;
	padding :10px;
	}

.index-message {
  text-align:center;
}

.imageSize{
	width:auto;
	height:500px;
}

.paddingTop20{
	padding-top:20px;
}

.footer-version{
	color: @grayLight;
}


.key {
	font-weight: bold;
	background: url(./images/glyphicons/halfsize/glyphicons_044_keys.png) no-repeat;
	background-size: 14px 14px;
	
	}
.jstree .key {padding-left: 18px;}


/**
 * Identification Key
 */
#unselectedCharacters ul.unstyled {
  padding-left: 25px;
}

#selectedCharacters ul.unstyled {
  padding-left: 25px;
}
#characterModal .modal-body li {
	clear: both;
	overflow: auto;
}

#matchedTaxa li {
	clear: both;
	overflow: auto;
}

/*li.character {
  clear:both; 
  overflow: auto;
}*/

li.descriptiveConcept div {
  clear:both;
}

li.descriptiveConcept h4.pull-left {
  width: 50%
}

li.character h4.pull-left {
  width: 50%
}

.resultTypeIcon {
	width: 20px;
	height: 20px;
}

.small-icon {
	width:13px;
	height:13px; 
}

label.checkbox input[type="checkbox"]{
	margin-left: 0px
}

.selectedCharacter, .character, .descriptiveCharacter, .descriptiveConcept{
	cursor:pointer;
}


/**
 * Map Search
 */
.full-width-map { display: block; margin-left: auto; margin-right: auto; margin-top:-35px; height: 470px; width:100%}

/*********** CLASS CSS ***********/ 

h1, h2, h3, h4, h5, h6 {
	font-family: 'ms500', Helvetica, Arial, sans-serif;
	font-weight: normal;
}

/*header*/

.jumbotron {position: relative; height: 470px;  margin: 28px 0 20px;}
.jumbotron.masthead {background: #b9f0e5; /* Old browsers */
background: -moz-linear-gradient(top, #b9f0e5 0%, #cffff2 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b9f0e5), color-stop(100%,#cffff2)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #b9f0e5 0%,#cffff2 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #b9f0e5 0%,#cffff2 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #b9f0e5 0%,#cffff2 100%); /* IE10+ */
background: linear-gradient(to bottom, #b9f0e5 0%,#cffff2 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b9f0e5', endColorstr='#cffff2',GradientType=0 ); /* IE6-9 */}
.jumbotron h1 { font-size: 36px; line-height: 42px; color: #333; text-shadow: 0 1px 0 #fff; margin: 0 0 10px; }
.jumbotron p { text-align: center; color: #333; text-shadow: 0 1px 0 #fff; font-family: 'ms500', Helvetica, Arial, sans-serif; font-size: 24px; line-height: 30px; }
.jumbotron input[type='text'] { padding: 9px; margin-right: 10px;}
.jumbotron .form-inline { margin-left: -70px; margin-top: 20px; }

/* Top Banner Layers */

.grass1 { height: 73px; width: 100%; position: absolute; bottom: 0; left: 0; background: url('@{imagePath}/banner/grass-1.png') repeat-x; z-index: 200; }
.grass2 { height: 86px; width: 100%; position: absolute; bottom: 10px; left: 0; background: url('@{imagePath}/banner/grass-2.png') repeat-x; z-index: 195; }
.grass3 { height: 66px; width: 100%; position: absolute; bottom: 51px; left: 0; background: url('@{imagePath}/banner/grass-3.png') repeat-x; z-index: 190; }
.grass4 { height: 47px; width: 100%; position: absolute; bottom: 74px; left: 0; background: url('@{imagePath}/banner/grass-4.png') repeat-x; z-index: 185; }
.grass5 { height: 15px; width: 100%; position: absolute; bottom: 105px; left: 0; background: url('@{imagePath}/banner/grass-5.png') repeat-x; z-index: 180; }

.trees-right { height: 358px; width: 279px; position: absolute; bottom: 46px; right: 0px; background: url('@{imagePath}/banner/trees-right.png') no-repeat; z-index: 187; }
.trees-left { height: 350px; width: 274px; position: absolute; bottom: 70px; left: 0; background: url('@{imagePath}/banner/trees-left.png') no-repeat; z-index: 187; }

.bamboo-right { height: 470px; width: 170px; position: absolute; bottom: 0; right: 0; background: url('@{imagePath}/banner/bamboo-right.png') no-repeat; z-index: 205; }
.bamboo-left { height: 470px; width: 230px; position: absolute; bottom: 0; left: 0; background: url('@{imagePath}/banner/bamboo-left.png') no-repeat; z-index: 205; }

.plant-single { height: 170px; width: 42px; position: absolute; bottom: 90px; left: 50%; margin-left: -370px; background: url('@{imagePath}/banner/plant-single.png') no-repeat; z-index: 189; }

.plant-decoration { height: 52px; width: 1080px; position: absolute; bottom: 40px; left: 50%; margin-left: -540px; background: url('@{imagePath}/banner/plant-decoration.png') no-repeat; z-index: 197; } 

.pond { height: 126px; width: 425px; position: absolute; bottom: 30px; left: 50%; margin-left: -213px; background: url('@{imagePath}/banner/pond.png') no-repeat; z-index: 198; }

.bg-plants { height: 84px; width: 100%; position: absolute; bottom: 96px; left: 0; background: url('@{imagePath}/banner/bg-plants.png') repeat-x; z-index: 181; }

.bg-banner { height: 118px; width: 100%; position: absolute; bottom: 116px; left: 0; background: url('@{imagePath}/banner/bg-banner.png') repeat-x; z-index: 100; }

.overlay-banner { height: 100%; width: 100%; position: absolute; top: 0; left: 0; background: url('@{imagePath}/banner/overlay.png') repeat; z-index: 210;}

/* main navigation */

.navbar-inner { background: #616668; }
.navbar .nav > li > a { text-shadow: none; color: #ebecec; font-size: 14px; padding: 23px 10px 25px; }
.navbar .nav > li > a.active { font-weight: bold; color: #fff; }
.navbar .nav > li > a:hover { color: #fft; }

.navbar .nav.pull-right { margin-right: 10px; }
.navbar .nav.pull-right > li > a { padding: 23px 30px 25px; }

.navbar .nav a.btn { padding: 4px 10px 6px; margin-top: 18px; }

/* boxes */

.box { background: #fff; border: 1px solid #e8e8e8; min-height: 20px; padding: 19px; margin-bottom: 20px;  position: relative; -webkit-box-shadow: inset 1px 1px 30px 1px #f9f9f9; -moz-box-shadow: inset 1px 1px 30px 1px #f9f9f9; box-shadow: inset 1px 1px 30px 1px #f9f9f9; }

.inner { position: relative; z-index: 1;}

.inner:before, .inner:after { position: absolute; width: 50%; height: 4px; content: ' '; left: 12px;background: transparent; -webkit-transform: skew(-5deg) rotate(-3deg); -moz-transform: skew(-5deg) rotate(-3deg); -ms-transform: skew(-5deg) rotate(-3deg); -o-transform: skew(-5deg) rotate(-3deg); transform: skew(-5deg) rotate(-3deg); -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.7); -moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.7); box-shadow: 0 6px 12px rgba(0, 0, 0, 0.7); z-index: -1; 
} 
.inner:after  { left: auto; right: 12px; -webkit-transform: skew(5deg) rotate(3deg); -moz-transform: skew(5deg) rotate(3deg); -ms-transform: skew(5deg) rotate(3deg); -o-transform: skew(5deg) rotate(3deg); transform: skew(5deg) rotate(3deg); } 
    
.span12 .inner:before, .span12 .inner:after, .span11 .inner:before, .span11 .inner:after { bottom: 13px; }
.span10 .inner:before, .span10 .inner:after, .span9 .inner:before, .span9 .inner:after { bottom: 12px; }
.span8 .inner:before, .span8 .inner:after, .span7 .inner:before, .span7 .inner:after { bottom: 11px; }
.span6 .inner:before, .span6 .inner:after, .span5 .inner:before, .span5 .inner:after { bottom: 10px; }
.span4 .inner:before, .span4 .inner:after, .span3 .inner:before, .span3 .inner:after { bottom: 9px; }
.span2 .inner:before, .span2 .inner:after, .span1 .inner:before, .span1 .inner:after { bottom: 8px; }

.box h1, .box h2, .box h3, .box h4, .box h5, .box h6 { color: #5b5b5b; }

.box h2 { font-size: 16px; line-height: 28px; }
.box a h2 { color: #5b5b5b; text-decoration: none; }
.box a:hover h2 { text-decoration: none !important  }

.box p { color: #888; }

/* footer */

footer { background: #616668; padding: 30px 0; }

#footer-icons ul { list-style: none; text-align: center; display: block}
#footer-icons ul li { display: inline-block; padding: 0 20px 20px; float: left}
#footer-icons ul li a { display: block; }

#footer-logo { height: 50px; width: 50px; background: url('@{imagePath}/footer/logo.png') no-repeat; margin: 0 auto 20px; }

.foot { list-style: none; margin: 0; text-align: center; }
.foot li { display: inline-block; padding: 0 10px 5px; }
.foot li a { color: #999; font-size: 14px;  }

.footer-version { font-size: 12px; }

/* search page */

.page-header { margin-top: 26px; padding: 20px 20px 0px !important; position: relative; overflow: hidden; background: #b9f0e5; /* Old browsers */
background: -moz-linear-gradient(top, #b9f0e5 0%, #cffff2 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b9f0e5), color-stop(100%,#cffff2)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #b9f0e5 0%,#cffff2 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #b9f0e5 0%,#cffff2 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #b9f0e5 0%,#cffff2 100%); /* IE10+ */
background: linear-gradient(to bottom, #b9f0e5 0%,#cffff2 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b9f0e5', endColorstr='#cffff2',GradientType=0 ); /* IE6-9 */ }
.page-header form { margin: 4px 0 0; }
.page-header h2 { line-height: 36px !important; }
.page-header-inner {
    position: relative;
    z-index: 300;
}
.page-header .left-bamboo { position: absolute; top: 0; left: 0; }
.page-header .right-bamboo { position: absolute; top: 0; right: 0; }

.nav-list .nav-header { font-family: 'ms500', Helvetica, Arial, sans-serif; text-transform: none !important; font-weight: normal; font-size: 16px; color: #5b5b5b; margin-bottom: 10px; }
.nav-list > li > a, .nav-list .collapse a { color: #888; }
.nav-list .collapse { margin-left: -15px; margin-right: -15px; }
.nav-list .collapse li { line-height: 24px; }
.nav-list .collapse a { padding: 3px 15px; }
.nav-list .collapse li:hover { background: #eee; }

.pull-left { margin-left: 20px; }

.h4Results { color: #5b5b5b; font-size: 16px; }
.h4Results em { font-style: normal; }

#results .thumbnail > img { height: 80px; width: 80px; }
#results .table tr:first-child td { border-top: none;}
#results .table tr td { padding: 20px 8px; }
#results .table tr td div em { font-weight: bold; font-style: normal; }

.pagination.pull-right { margin: 0; }

/* sub heading */

.sub-title { color: #5b5b5b; font-size: 24px; line-height: 30px; margin: 10px 0 20px; text-align: center; }

/* taxon */

#overview { margin-bottom: 20px; }
#overview h2 { display: inline; color: #5b5b5b; }
#overview small a { color: #5b5b5b; font-family: 'ms500', Helvetica, Arial, sans-serif; font-size: 16px; }

#overview .subnav { float: left; width: auto; margin-top: 20px; }

#taxonomicTree { padding: 0; margin-top: -15px; }
#taxonomicTree h5 { display: inline; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: bold; color: #616668; }

ul#taxonHierarchy, ul#taxonHierarchy ul {
     list-style-type: none;
}

.section-box { padding-top: 19px !important; width: auto;}

.nav-pills > li > a { color: #616668; font-weight: bold; }

#sidebar { margin-top: 0;}

#textContent  { padding-top: 0 !important;}

/* tax image slider */

.ad-info { display: none; }

.thumbnail-gallery-padding li { padding: 0 4px; }

#gallery { padding: 0; width: 940px; }

