body{padding-top:40px;}
.taxonName {font-style: italic}
#distribution-textual {list-style:none;margin:0px; padding-left:0; text-indent:0; clear: both}
#distribution-textual li {float:left; padding-left:0.5em}
#distribution-textual li:first-child:before {padding-left: 0em}
#distribution-textual li:after {content: ","}
#distribution-textual li:last-child:after {content: ""}
section {width: 100%; clear: both; padding-top: 60px}
.section-header {margin: 18px 0}
#textContent {padding-top: 78px}

ul.citations {
    list-style: none;
}

ul.citations {
    list-style: none;
    margin: 0px;
    float: right;
}

ul.citations:before {
    content: "[";
}

ul.citations:after {
    content: "]";
}

ul.citations li {
  display: inline;
}

ul.citations li:last-child:after {
    content: "";
}
ul.citations li:after {
    content: ",";
}
ul.citations li:before {
    content: "";
}
section#bibliography li a:before {
    content: "[";
}
section#bibliography li a:after {
    content: "]";
}
section#bibliography ul {
    list-style: none;
}

.masthead {
    background-color: @baseColor;
    background-image: -moz-linear-gradient(darken(@baseColor, 15), @baseColor);
    background-repeat: no-repeat;
}

.jumbotron {
    min-width: 940px;
    /*padding-top: 40px;*/
}

.jumbotron .inner {
    background: url("../img/grid-18px.png") repeat scroll center top transparent;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3) inset;
    padding: 45px 0;
}

.jumbotron h1, .jumbotron p {
    color: #FFFFFF;
    margin-bottom: 9px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}

.jumbotron h1 {
    font-size: 48px;
    line-height: 1;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

ul#taxonHierarchy, ul#taxonHierarchy ul {
     list-style-type: none;
}

.title-no-bold{
	font-weight:normal;
}

.title-bold{
	font-weight:bold;
}

.content-wrapper{
	padding-left: 20px;
}

.centeredImage{
    text-align:center;
    display:block;
}

.no-display{
	display: none;
}

.right{
	float:right;
}

.no-margin{
	//margin:0 0 0 0;
}

.header-margin{
	margin:-20px -20px 20px -20px;
}

.thumbnail-gallery-padding li{
	margin:0 0 0 0;
}

.no-margin-left{
	margin-left:0px;
}

.justified{
	text-align:justify;
}

#map{
	height: 470px;
	width: 700px
}

#gallery{
	padding: 10px;
}


.taxon-content{
	margin-top:40px;
}

.icon-column{
	width:70px;
	}
	
.tabbable-bordered {
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
}

.no-small-icon{
	padding-left:20px;
}

footer {background-color:#252525}

.index-box {
    border-right: thin solid;
    margin-right: -11px;
    padding-right: 10px;
}
.index-box-last {
    border-right: thin none;
}