{{> partials/header title="Plants of the World Online | Kew Science"}}
<div class="s-page s-page--home s-search__fullpage s-theme-home">
  <div class="s-page-wrapper">
    {{> partials/page-header }}

    <section class="c-search autocomplete-form">
      <div class="container">
        <div class="c-intro">
          <h1>Something has gone wrong</h1>
          <a href="/" class="btn btn-lg error" role="button"> Back to Homepage</a>
        </div>

      </div><!-- End Container -->
    </section>
    {{> partials/footer-links}}
  </div>
</div>
