{{> partials/header title="Plants of the World Online | Kew Science"}}
<div id="svgs" style="display:none">
{{> svg/leaf.svg }}
{{> svg/mushroom.svg }}
{{> svg/chevron.svg }}
{{> svg/powo-logo.svg }}
</div>
<div class="s-page s-page--home s-search__fullpage s-theme-home invisible">
  <div class="s-page-wrapper">
    {{> partials/page-header}}

    <section class="c-search autocomplete-form">
      <div class="container">
        <div class="c-intro">
          <svg class="powo-logo" xmlns:xlink="http://www.w3.org/1999/xlink"><use xlink:href="#powo-logo-svg"/></svg>
          <small>Bringing Kew's science data online by 2020</small>
          <p>Browse {{names}} global plant names, {{descriptions}} detailed descriptions, and {{images}} images covering tropical Africa</p>
        </div>

        {{> partials/search/search-box }}

      </div><!-- End Container -->
    </section>
    {{> partials/footer-links}}
  </div>
</div>
{{> partials/footer initialize="search"}}
