{{> partials/header title="Plants of the World Online | Kew Science"}}
<div id="svgs" class="hidden">
{{> svg/leaf.svg }}
{{> svg/mushroom.svg }}
{{> svg/chevron.svg }}
</div>
<div class="s-page s-page--home s-search__fullpage s-theme-home invisible">
  <div class="s-page-wrapper">
    {{> partials/page-header}}

    <section class="c-search autocomplete-form">
      <div class="container">
        <div class="c-intro">
          <h1 class="c-intro__title">Plants of the World Online <small><sub><i>beta</i></sub></small></h1>
          <p>Browse 300,000 global plant names, 22,000 detailed descriptions, and 1,800 images covering tropical Africa</p>
        </div>

        {{> partials/search/search-box }}

      </div><!-- End Container -->
    </section>
    {{> partials/footer-links}}
  </div>
</div>
{{> partials/footer initialize="search"}}
