{{> partials/header title="Search | Plants of the World Online | Kew Science"}}
<div id="svgs" class="hidden">
{{> svg/leaf.svg }}
{{> svg/mushroom.svg }}
{{> svg/chevron.svg }}
</div>
<div class="s-page">
  {{> partials/page-header }}
  <section class="c-search autocomplete-form">
    {{> partials/search/search-box}}
  </section>
  <section class="c-results-outer grid--columns">
    {{> partials/result/results-header}}
    <section class="c-results">
    </section>
  </section>
  {{> partials/footer-links}}
</div>
{{> partials/footer initialize="search"}}
