{{> partials/header theme="s-theme-Family"}}
<div class="s-page">
  <header class="c-header">
    <div class="container">
      {{> partials/header/kew-logo-header}}
      <nav class="c-header__actions">
        <ul class="list-inline">
          <li>Use these results:</li>
          <li><a href="#">Export</a></li>
          <li><a href="#">Print</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <article class="c-article">
    <header class="c-article-header">

      <div class="s-border-bottom">
        <div class="container">
          <ol class="breadcrumb">
            <li><a href="#">Habitat: Desert or Dry Shrubland</a></li>
            <li><a href="#">IUCN Red List Status: Not Evaluated</a></li>
            <li class="active">CITES Status: CITES Appenfix II</li>
          </ol>
        </div>
      </div>

      <div class="container">
        <div class="c-family-list">
          <ol>
            <li>{{family}}
              <ol>
                <li>Asparagales Juss.
                  <ol>
                    <li>Scilloideae Burnett
                      <ol>
                        <li>Hyacinthoides Heist. ex Fabr
                          <ol>
                            <li><h1 class="c-family-list__heading">Campanula Rotundifolia</h1></li>
                          </ol>
                        </li>
                      </ol>
                    </li>
                  </ol>
                </li>
              </ol>
            </li>
          </ol>
        </div>
        <div class="c-gallery-header">
          <div class="col">
            <figure class="c-gallery-header__img">
              <img src="/img/raster/example-image-header.jpg" alt="Alt text" data-target=".gallery-modal-fullsceen" data-toggle="modal"> 
            </figure>
          </div>
          <div class="col">
            <figure class="c-gallery-header__img">
              <img src="/img/raster/example-image-header.jpg" alt="Alt text" data-target=".gallery-modal-fullsceen" data-toggle="modal">
            </figure>
          </div>
          <div class="col">
            <figure class="c-gallery-header__img">
              <img src="/img/raster/example-image-header.jpg" alt="Alt text" data-target=".gallery-modal-fullsceen" data-toggle="modal">
            </figure>
          </div>
        </div>
      </div>

    </header>

    <nav class="navbar navbar-default navbar--article">

      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="c-article-nav collapse navbar-collapse" id="content-navbar">
        <div class="container">
          <ul class="nav navbar-nav navbar-nav--article">
            <li><a href="#description">Description</a></li>
            <li><a href="#distribution-map">Distribution Map</a></li>
            <li><a href="#synonyms">Synonyms</a></li>
            <li><a href="#image-gallery">Image Gallery</a></li>
            <li><a href="#bibliography">Bibliography</a></li>
            <li><a href="#references">References</a></li>
            <li><a href="#sources">Sources</a></li>
            <li><a href="#external-links">External links</a></li>
          </ul>
        </div>
      </div><!-- /.navbar-collapse -->
    </nav>

    <section id="description" class="c-article-section">
      <div class="container">
        <div class="row">
          <h2 class="c-article-section__title">Description</h2>
          <div class="c-article-section__content">
            <h3>According to Flora of Tropical East Africa</h3>
            <p>Lorem ipsum dolor sit amet, graeco maiorum appetere qui no, suas choro blandit id cum <a href="#" data-toggle="popover" data-html="true" data-placement="auto" title="Campanula Rotundifolia" data-content='<img src="/img/raster/example-image-1.jpg">'>[view image]</a>. Et eos mazim altera salutatus. Lorem expetenda eu pri, quod eirmod maiorum duo ut. Ad dico reque accommodare cum. Verear euripidis adipiscing ut duo. Per cu facilis torquatos repudiandae, qui eu habemus maiestatis, vel cu facete iriure lobortis. Vis ignota ullamcorper necessitatibus et, at mei nulla legendos</p>
            <h3>According to Flora Zambesiaca</h3>
            <p>Lorem ipsum dolor sit amet, graeco maiorum appetere qui no, suas choro blandit id cum. Et eos mazim altera salutatus. Lorem expetenda eu pri, quod eirmod maiorum duo ut. Ad dico reque accommodare cum. Verear euripidis adipiscing ut duo. Per cu facilis torquatos repudiandae, qui eu habemus maiestatis, vel cu facete iriure lobortis. Vis ignota ullamcorper necessitatibus et, at mei nulla legendos</p>
          </div>
          <aside role="complementary" class="c-article-section__aside">
            <span class="glyphicon glyphicon-share" aria-hidden="true"></span> <a href="#">Share</a>
            <ul class="c-reference-list">
              <li><span class="glyphicon glyphicon-book" aria-hidden="true"></span></li>
              <li><a href="#">FTEA.A</a></li>
              <li><a href="#" data-toggle="tooltip" data-placement="bottom" title="Flora Zambesiaca B All Rights Reserved">FZ.B</a></li>
            </ul>
          </aside>
        </div>
      </div>
    </section>

    <section id="other-data" class="c-article-section">
      <div class="container">
        <div class="row">
          <h2 class="c-article-section__title">Other data</h2>
          <div class="c-article-section__content">
            <h3>Kew holds these other references to this species</h3>
            <ul class="c-plain-list">
              <li>IPNI - The International Plant Names Index</li>
              <li>IPNI - The International Plant Names Index</li>
              <li>IPNI - The International Plant Names Index</li>
              <li>IPNI - The International Plant Names Index</li>
              <li>IPNI - The International Plant Names Index</li>
              <li>IPNI - The International Plant Names Index</li>
              <li>IPNI - The International Plant Names Index</li>
            </ul>
          </div>
          <aside role="complementary" class="c-article-section__aside">
            <span class="glyphicon glyphicon-share" aria-hidden="true"></span> <a href="#">Share</a>
          </aside>
        </div>
      </div>
    </section>

    <section id="distribution-map" class="c-article-section">
      <div class="container">
        <div class="row">
          <h2 class="c-article-section__title">Distribution map</h2>
          <div class="c-article-section__content">
            <h3>Map</h3>
            <div class="c-map">

            </div>
          </div>
          <aside role="complementary" class="c-article-section__aside">
            <span class="glyphicon glyphicon-share" aria-hidden="true"></span> <a href="#">Share</a>
            <ul class="c-reference-list">
              <li><span class="glyphicon glyphicon-book" aria-hidden="true"></span></li>
              <li><a href="#">FTEA.A</a></li>
              <li><a href="#">FZ.B</a></li>
            </ul>
          </aside>
        </div>
      </div>
    </section>

    <section id="synonyms" class="c-article-section">
      <div class="container">
        <div class="row">
          <h2 class="c-article-section__title">Synonyms</h2>
          <div class="c-article-section__content">
            <ul class="c-synonym-list">
              <li><a>Abdulmajidia Whitmore</a></li>
              <li><a>Abdulmajidia Whitmore</a></li>
              <li><a>Abdulmajidia Whitmore</a></li>
              <li><a>Abdulmajidia Whitmore</a></li>
              <li><a>Abdulmajidia Whitmore</a></li>
              <li><a>Abdulmajidia Whitmore</a></li>
              <li><a>Abdulmajidia Whitmore</a></li>
              <li><a>Abdulmajidia Whitmore</a></li>
              <li><a>Abdulmajidia Whitmore</a></li>
              <li><a>Abdulmajidia Whitmore</a></li>
              <li><a>Abdulmajidia Whitmore</a></li>
              <li><a>Abdulmajidia Whitmore</a></li>
              <li><a>Abdulmajidia Whitmore</a></li>
              <li><a>Abdulmajidia Whitmore</a></li>
              <li><a>Abdulmajidia Whitmore</a></li>
              <li><a>Abdulmajidia Whitmore</a></li>
              <li><a>Abdulmajidia Whitmore</a></li>
            </ul>
          </div>
          <aside role="complementary" class="c-article-section__aside">
            <span class="glyphicon glyphicon-share" aria-hidden="true"></span> <a href="#">Share</a>
            <ul class="c-reference-list">
              <li><span class="glyphicon glyphicon-book" aria-hidden="true"></span></li>
              <li><a href="#">FTEA.A</a></li>
              <li><a href="#">FZ.B</a></li>
            </ul>
          </aside>
        </div>
      </div>
    </section>

    <section id="image-gallery" class="c-article-section">
      <div class="container">
        <div class="row">
          <h2 class="c-article-section__title">Gallery</h2>
          <div class="c-article-section__content">

            <div class="c-gallery clearfix">
              <div class="col">
                <figure class="c-gallery__img">
                  <img src="/img/raster/example-image-1.jpg" alt="Alt text" data-target=".gallery-modal-fullsceen" data-toggle="modal">
                </figure>
              </div>
              <div class="col">
                <figure class="c-gallery__img">
                  <img src="/img/raster/example-image-2.jpg" alt="Alt text" data-target=".gallery-modal-fullsceen" data-toggle="modal">
                </figure>
              </div>
              <div class="col">
                <figure class="c-gallery__img">
                  <img src="/img/raster/example-image-1.jpg" alt="Alt text" data-target=".gallery-modal-fullsceen" data-toggle="modal">
                </figure>
              </div>
            </div>

          </div>
          <aside role="complementary" class="c-article-section__aside">
            <span class="glyphicon glyphicon-share" aria-hidden="true"></span> <a href="#">Share</a>
          </aside>
        </div>
      </div>
    </section>

    <section id="bibliography" class="c-article-section">
      <div class="container">
        <div class="row">
          <h2 class="c-article-section__title">Bibliography</h2>
          <div class="c-article-section__content">
            <h3>First published in Char. Gen. Pl:75 (1776), nom. cons.</h3>
            <h4>Is Accepted in</h4>
            <cite>[1] Govaerts, R.H.A (2011) World checklist of selected plant families published update. Facilitated by the Trustees of the Royal Botanic Gardens, Kew.</cite> 
          </div>
          <aside role="complementary" class="c-article-section__aside">
            <span class="glyphicon glyphicon-share" aria-hidden="true"></span> <a href="#">Share</a>
          </aside>
        </div>
      </div>
    </section>

    <section id="sources" class="c-article-section">
      <div class="container">
        <div class="row">
          <h2 class="c-article-section__title">Sources</h2>
          <div class="c-article-section__content">
            <strong>Flora of West Tropical Africa</strong>
            <p>A All Rights Reserved</p> 
            <strong>Flora of West Tropical Africa</strong>
            <p>A All Rights Reserved</p> 
            <strong>Flora of West Tropical Africa</strong>
            <p>A All Rights Reserved</p> 
          </div>
          <aside role="complementary" class="c-article-section__aside">
            <span class="glyphicon glyphicon-share" aria-hidden="true"></span> <a href="#">Share</a>
          </aside>
        </div>
      </div>
    </section>
  </article>
  {{> partials/gallery/gallery-modal}}
  {{> partials/footer-links}}
</div>
{{> partials/footer}}
