/*
* Theme a page, fonts and logo.
*/
@mixin theme-page($name, $color) {
  $primary: $color;

  .#{$name} {
    color: $primary;
    a {
      color: $primary;
    }
    .kew-logo {
      fill: $primary;
    }
  }
}

/*
* Theme a page / card styles and other elements based on a type of plant.
*/
@mixin theme-type($name, $color) {
  $primary: $color;

  .#{$name} {

    .s-page {
      border-color: $primary;
    }

    .a {
      color: $primary;
    }

    .modal-backdrop.in {
      background-color: darken($primary,30);
    }

    .results-kingdom {
      fill: $primary;
    }

    .s-page--taxon .form-inline--search.focused {
      border-color: rgba($primary, .3);
    }
  }

  .#{$name}.c-card {
    .c-card__type {
      color: $primary;
    }
    &:hover {
      box-shadow: inset 0px 0px 0px 10px rgba($primary,0.75);
    }
  }
}

$type-themes: (
  s-theme-Family: #2F5989,
  s-theme-Genus: #256060,
  s-theme-Species: #3F6025,
  s-theme-Infraspecific: #8D308D,
  s-theme-Synonym: #595959,
) !default;

$page-themes: (
  s-theme-home: #fff,
) !default;


@each $theme, $color in $page-themes {
  @include theme-page($theme, $color);
}

@each $theme, $color in $type-themes {
  @include theme-type($theme, $color);
}
