.resource-form {
  margin: 20px 20px 20px 20px;
  border: 1px #e7e7e7 solid;
  min-height: 300px;
  width: 85%;
  align-self:center;

  .row {
    padding-top: 15px;
  }

  .resource-row {
    border-bottom: 1px #e7e7e7 solid;
  }

  .form-control{
    padding: 0em;
  }

  .form-dropdown{
    background-color:  #e7e7e7;
  }
}

.run-job {
  margin-top: -3px;
  margin-right: -6px;
}


table.job-execution-steps {
  height:300px;
  display: -moz-groupbox;

  tr {
    width: 100%;
    display: inline-table;
    table-layout: fixed;
  }

  tbody{
    overflow-y: scroll;
    height: 285px;
    width: 96%;
    position: absolute;
  }
}
