// Page Home
.s-page {
  position: relative;
}

.s-page--home {

  border-color: #FFFFFF;
  background-image: url('/img/raster/Anagallis_arvensis_06.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position-x: center;
  background-position-y: 10%;
  min-height: 100vh;

  .s-page-wrapper {
    position: relative;
    min-height: calc(100vh - 30px);
  }

  @media (min-width: $screen-sm-min) {
    .c-footer {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }

  .c-header__actions {
    float: left;
    margin-top: 25px;
  }

  #kew-logo-svg {
    width: 200px;
    height: 25px;
    fill: white;
    margin: 30px auto 0;
    display: block;

    @media (min-width: $screen-sm-min) {
      float: right;
      margin: 30px 0;
    }
  }
}

// Section Home
.s-search-home {
  width: 100%;
  @media (min-width: $screen-sm-min) {
    position: absolute;
    top: 40%;
    left: 0;
    transform: translateY(-50%);
  }
}
