.error {
  border: 1px solid white;
}

.s-page--error .error-msg {
  padding-top: 20vh;
  text-align: center;
}

.static_text {
  min-height: 80vh;
  background-color: #fff;
  color: #000;

  a {
    color: #0645AD;
    text-decoration: underline;
  }

  .column_list li:first-child {
    font-weight: bold;
  }

  h1,h3 {
    font-weight: bold;
  }

  ul.column_list {
    list-style-type: none;
    display:inline-block;
    vertical-align:top;
  }

  p {
    padding-left: 20px;
  }

  blockquote {
    font-size: inherit;
  }
}
