<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <mapping package="org.emonocot.model.common"/>
    <mapping class="org.emonocot.model.source.Source"/>
    <mapping class="org.emonocot.model.common.Annotation"/>
    <mapping class="org.emonocot.model.description.Content"/>
    <mapping class="org.emonocot.model.description.Distribution"/>
    <mapping class="org.emonocot.model.description.TextContent"/>
    <mapping class="org.emonocot.model.media.Image"/>
    <mapping class="org.emonocot.model.reference.Reference"/>
    <mapping class="org.emonocot.model.taxon.Taxon"/>
    <mapping class="org.emonocot.model.user.User"/>
    <mapping class="org.emonocot.model.user.Group"/>
  </session-factory>
</hibernate-configuration>