<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{ISO8601} | %-5p | %t | %-40.40logger{39} | %m%n</pattern>
    </encoder>
  </appender>

  <root level="${SYSTEM_LOG_LEVEL:-WARN}">
    <appender-ref ref="stdout"/>
  </root>

  <logger name="org.powo" level="${APP_LOG_LEVEL:-INFO}" />
  <logger name="org.powo.persistence" level="${HARVESTER_LOG_LEVEL:-INFO}" />
  <logger name="org.powo.harvest" level="${HARVESTER_LOG_LEVEL:-INFO}" />
  <logger name="org.powo.job" level="${HARVESTER_LOG_LEVEL:-INFO}" />
  <logger name="org.powo.model" level="${HARVESTER_LOG_LEVEL:-INFO}" />
  <!-- Set the following two loggers to level="DEBUG" to see SQL statements and performance -->
  <logger name="org.hibernate.SQL" level="INFO" />
  <logger name="org.hibernate.stat" level="INFO" />
  <!-- Set the following logger to level="DEBUG" to verify JDBC batching is happening -->
  <logger name="org.hibernate.engine.jdbc.batch.internal.AbstractBatchImpl" level="ERROR" />
  <logger name="org.hibernate.orm.deprecation" level="ERROR" />
  <logger name="org.springframework.batch.core.job" level="INFO" />
  <logger name="liquibase" level="ERROR"/>
  <logger name="liquibase.changelog.ChangeSet" level="INFO"/>
</configuration>
