{{> partials/header title="Plants of the World Online | Kew Science"}}

<div id="svgs" style="display:none">
{{> svg/powo-logo.svg }}
</div>

<div class="s-page s-page--home s-theme-home">
  {{> partials/page-header}}

    <section class="c-results">
      <div class="container static_text">
      <h1>About<h1>
      <p> placeholder - page under construction
      </div><!-- End Container -->
    </section>
    {{> partials/footer-links}}
  </div>
</div>
