{{> partials/header title="Plants of the World Online | Kew Science"}}

<div id="svgs" style="display:none">
{{> svg/powo-logo.svg }}
</div>

<div class="s-page s-page--home s-theme-home">
  {{> partials/page-header}}

    <section class="c-results">
      <div class="container static_text">
        <h1>Terms and conditions – Kew Science Data & Resources </h1>
        <p>The data and information available through the <a href="http://kew.org/science/data-and-resources"> data and resources</a> section of kew.org/science/data-and-resources are available under terms described in the licence field of individual dataset records (metadata).

  All dataset metadata published on kew.org is licensed under Creative Commons Attribution CC BY.

  Multimedia assets including images within datasets are subject to additional licence restrictions - by default this will be Creative Commons Attribution CC BY, and © copyright The Trustees of the Royal Botanic Gardens, Kew.</p>

  <h2>Data usage</h2>

  <p>You may write papers or create software applications, visualisations, etc., that make use of data on this site. If you do use any of the data, please email the Biodiversity Informatics team at <a href="mailto:BI@kew.org">BI@kew.org</a> so that we can provide any appropriate assistance.

  If you extract and re-use any data from this site you should explicitly state that RBG, Kew cannot warrant the quality or accuracy of the data.

  You must not in any way imply or explicitly state that a third-party use or service created using data from this site has the endorsement, affiliation, support or approval of RBG, Kew.</p>

  <h2>Traffic limits</h2>

  <p>To maintain a good service for all, API users must not exceed a certain number of requests per second, dependent on the current server load. We reserve the right to suspend API access for users that exceed these limits.

  Citation and attribution

  If you use our data, we strongly encourage you to cite or reference this work as you would any other scientific research (even if the license does not explicitly require you to).

  Many of the datasets are the result of a huge amount of time and effort invested by Kew staff and collaborators. Some represent an individual’s work over many decades. Citing this data allows us to measure the impact of the research and encourages others to deposit their data into the portal.
  </p>
  <h2>Citing IPNI</h2>

  'The International Plant Names Index (2012). Published on the Internet <a href="http://www.ipni.org">http://www.ipni.org</a> [accessed 1 July 2012]*.

  *[Please replace the year and date of accession with the appropriate date for your use of the system]

  <h2>Citing WCS</h2>

  <p>WCSP (Current Year). 'World Checklist of Selected Plant Families. Facilitated by the Royal Botanic Gardens, Kew. Published on the Internet; http://apps.kew.org/wcsp/ Retrieved *.'

  If you would like to cite the families individually, please use the following format:

  'Compiler(s), Reviewers(s) (Current Year). World Checklist of [Add Family]. Facilitated by the Royal Botanic Gardens, Kew. Published on the Internet; http://apps.kew.org/wcsp/ Retrieved *.'

  *[Please replace the year and date of accession with the appropriate date for your use of the system] The family reviewer and family compiler can be determined from the reviewer and compiler table.

  Citing TPLIt may be cited as: The Plant List (2013). Version 1.1. Published on the Internet; http://www.theplantlist.org/ Retrieved *.

  *[Please replace the year and date of accession with the appropriate date for your use of the system]</p>

  <h2>Citing MPNS</h2>

  <p>It may be cited as: Medicinal Plant Names Services Portal Version 6 Retrieved *

  http://www.kew.org/mpns

  *[Please replace the year and date of accession with the appropriate date for your use of the system] </p>
      </div><!-- End Container -->
    </section>
    {{> partials/footer-links}}
  </div>
</div>
