<p>If you have any questions, queries or wish to give feedback on any aspect of the POWO portal or data, please contact: Biodiversity Informatics team at BI@kew.org </p>
<p>POWO has a free text search with a number of advanced features, which are explained below:</p>
<h3>Multiple Search Terms</h3>
<p>Typing a search and hitting "enter" allows you to type a second term in the search bar. These restrict the results of the previous search. (For example, a search for "orchidaceae", "yellow flowers" and "africa" would give a list of all orchids with yellow flowers in Africa.) Individual search terms can be deleted by pressing the x on each one.</p>
<p><a class="document_links" href="/?f=has_images&q=africa%2Cyellow+flowers%2COrchidaceae">Try multiple search terms here</a><p>
<h3>Field Search</h3>
<p>Putting a field name and a colon at the start of your search will restrict the search to the selected field (For example, "author: L." will restrict the search to only taxa that were published by Linnaeus.)</p>
<p>Currently, you can use the following field names:</p>
<ul class="column_list">
  <li>Characteristics:</li>
  <li>summary</li>
  <li>appearance</li>
  <li>characteristic</li>
  <li>flower</li>
  <li>fruit</li>
  <li>leaf</li>
  <li>inflorescence</li>
  <li>seed</li>
  <li>cloning</li>
  <li>use</li>
</ul>
<ul class="column_list">
  <li>Names:</li>
  <li>name</li>
  <li>common name</li>
  <li>kingdom</li>
  <li>family</li>
  <li>genus</li>
  <li>species</li>
  <li>author</li>
</ul>
<ul class="column_list">
  <li class="heading">Geography:</li>
  <li>location</li>
</ul>
<p><a class="document_links" href="/?q=author%3A+L.">Try a field search here</a><p></p>
<p>In addition, ColPlantA is part of the UPFI (Useful Plants and Fungi Initiative), and currently holds preliminary information on useful plants of Colombia, derived from previous projects like Useful Plants of Boyacá, and contributions along this project from ending 2017, results from the ColPlantA Internship Program (CIP), In addition, ColPlantA is part of the UPFI (Useful Plants and Fungi Initiative), and currently holds preliminary information on useful plants of Colombia, derived from previous projects like Useful Plants of Boyacá, and contributions along this project from ending 2017, results from the ColPlantA Internship Program (CIP), the visitor researchers (Universidad de los Andes and University College of London), volunteering, among others.</p>
<p>If interested in find uses, type the word use, followed by ":" and one of the ten first level categories of use of the Economic Botany Standards Data (EBDS).</p>
<ul class="column_list">
<li>Use:</li>
<li>Animal food</li>
<li>Environmental uses</li>
<li>Food</li>
<li>Fuels</li>
<li>Gene sources</li>
<li>Materials</li>
<li>Medicines</li>
<li>Poisons</li>
<li>Social uses</li>
<li>Weeds</li></ul>
<p>Try a uses search <a href="/?q=use:Medicines">here</a></p>
<h3>Filters</h3>
<p>The filter bar allows you to quickly constrain results by some common terms. For example, you can use it to narrow searches down to results with images, or only families, genera or species.</p>
<p><a class="document_links" href="/?f=has_images%2Cfamily_f">Try a filter here</a></p>
<h3>TDWG &amp; Geographical Search</h3>
<p>POWO uses TDWG regions for its geographical search. These are botanical regions that do not necessarily conform to country borders. Continents are searchable, as are continent sections (For example, "Southern South America." covers Argentina, Chile, Paraguay and Uruguay)</p>
<p><a class="document_links" href="/?q=Southern+South+America">Try a geographical search here</a><p>
