<h1>Search help</h1>
<h2>Simple Search</h2>
<p>Currently, you can search by name, geographical location and by using adjectives to describe plant characteristics. To make sure you get the right result it is advised to spell terms correctly, in particular on the use of capital letters or select the correct option from the list of suggestions. (e.g. using a capital letter for Belgium will be interpreted as a geographic area while searching on "belgium" will not) The kind of restricted search you made will also be displayed in the search box (e.g. "location:Belgium" indicates that your search was interpreted as a geographic search and data are returned for which this term is found in the distribution section of each record) You can also directly use the restricted terms "name:", "location:" and "characteristic:" before your search term.</p>
<h3>Name:</h3>
  <ul>
    <li>Scientific Name</li>
    <li>Common name</li>
    <li>Family</li>
    <li>Genus</li>
    <li>Species</li>
    <li>Author of plant names (using IPNI standard form)</li>
  </ul>
<h3>Location:</h3>
  <ul>
    <li>Geographic area (using TDWG botanical country)</li>
  </ul>
<h3>Characteristic:</h3>
  <ul>
    <li>Appearance (e.g. small pink flowers)</li>
    <li>Flower (e.g monoecious; hairy sepals)</li>
    <li>Fruit (e.g fleshy yellow fruit)</li>
    <li>Leaf (e.g linear leaves; no leaves)</li>
    <li>Inflorescence (e.g terminal panicle)</li>
    <li>Seed (e.g circular seed)</li>
    <li>Use (e.g medicine)</li>
  </ul>
<h2>Multiple Search Terms</h2>
<p>When using multiple search terms, POWO uses AND searches. Typing a search and hitting "enter" allows you to type a second term in the search bar. (For example, a search for "Orchidaceae", "yellow flowers" and "Africa" would give a list of all orchids with yellow flowers in Africa.) Individual search terms can be deleted by pressing the x on each one.</p>
<p><a href="http://powo.science.kew.org/?f=has_images&amp;q=africa%2Cyellow+flowers%2COrchidaceae">Try multiple search terms here</a></p>
<h2>Restricting searches</h2>
<p>Putting a field name and a colon at the start of your search will restrict the search to the selected field (For example, "author:L."" will restrict the search to only taxa that were published by Linnaeus.). others are "name:", "location:" and "characteristic:".</p>
<p><a href="http://powo.science.kew.org/?q=author%3A+L.">Try a field search here</a></p>
<h2>Geographical Search</h2>
<p>POWO uses the phytogeographical TDWG international standard for recording plant distributions (<a href="http://www.nhm.ac.uk/hosted_sites/tdwg/TDWG_geo2.pdf">WGSRPD</a>) for its geographical search. These are so-called botanical regions that best reflect phytogeography and therefore do not necessarily conform to political borders (e.g. the botanical country "Belgium" includes the political countries of the Kingdom of Belgium and the Duchy of Luxemburg). Continents are searchable, as well as regions and botanical countries (For example, "Southern South America." covers Argentina, Chile, Paraguay and Uruguay)</p>
<p><a href="http://powo.science.kew.org/?q=Southern+South+America">Try a geographical search here</a></p>
<h2>Filters</h2>
<p>The filter bar allows you to quickly constrain results by some common terms. For example, you can use it to narrow searches down to results with images, or only families, genera or species. This can also be used to count the number of species in a particular plant family or geographical region by filtering a name or geographical search with the accepted name and species filters.</p>
<p><a href="http://powo.science.kew.org/?f=has_images%2Cfamily_f">Try a filter here</a></p>
<h2>Contact Us</h2>
<p>For further information, to provide feedback, or make an enquiry about POWO, please <a href="mailto:bi@kew.org">email us</a>.</p>