<h1>Search help</h1>
<h2>Simple Search</h2>
<p>Currently, you can search using adjectives to describe plant characteristics, or by name or geographical location:
</p>
<h3>Characteristics:</h3>
<ul>
  <li>Appearance (e.g. small pink flowers)</li>
  <li>Flower (e.g monoecious; hairy sepals)</li>
  <li>Fruit (e.g fleshy yellow fruit)</li>
  <li>Leaf (e.g linear leaves; no leaves)</li>
  <li>Inflorescence (e.g terminal panicle)</li>
  <li>Seed (e.g circular seed)</li>
  <li>Use (e.g medicine)</li>
</ul>
<h3>Names:</h3>
<ul>
  <li>Name</li>
  <li>Common name</li>
  <li>Kingdom</li>
  <li>Family</li>
  <li>Genus</li>
  <li>Species</li>
  <li>Author</li>
</ul>
<h3>Geography:</h3>
<ul>
  <li>Location</li>
</ul>
<h2>Multiple Search Terms</h2>
<p>Typing a search and hitting &ldquo;enter&rdquo; allows you to type a second term in the search bar. (For example, a
  search for &ldquo;orchidaceae&rdquo;, &ldquo;yellow flowers&rdquo; and &ldquo;africa&rdquo; would give a list of all
  orchids with yellow flowers in Africa.)</span> Individual search terms can be deleted by pressing the x on each one.
</p>
<p><a href="/results?f=has_images&amp;q=africa%2Cyellow+flowers%2COrchidaceae">Try multiple search terms here</a></p>
<h2>Restricting searches</h2>
<p>Putting a field name and a colon at the start of your search will restrict the search to the selected field (For
  example, &ldquo;author: L.&rdquo; will restrict the search to only taxa that were published by Linnaeus.)</p>
<p><a href="/results?q=author%3A+L.">Try a field search here</a></p>
<h2>Biodiversity Information Standards (TDWG) &amp; Geographical Search</h2>
<p>POWO uses TDWG regions for its geographical search. These are botanical regions that do not necessarily conform to
  country borders. Continents are searchable, as are continent sections (For example, "Southern South America." covers
  Argentina, Chile, Paraguay and Uruguay)</p>
<p><a href="/results?q=Southern+South+America">Try a geographical search here</a></p>
<h2>Filters</h2>
<p>The filter bar allows you to quickly constrain results by some common terms. For example, you can use it to narrow
  searches down to results with images, or only families, genera or species.</p>
<p><a href="/results?f=has_images%2Cfamily_f">Try a filter here</a></p>
<h2>Contact Us</h2>
<p>For further information, to provide feedback, or make an enquiry about POWO, please&nbsp;<a
    href="mailto:bi@kew.org">email us</a>.</p>