<div id="new-job-list">
  <h4>Create new job list</h4>
  <form>
    <input type="text" name="description" placeholder="Job list description"></input>
    <input type="text" name="nextRun" placeholder="Run at" id="next-run"></input>
    <select name="schedulingPeriod">
      <option value="">Once</option>
      <option value="DAILY">Daily</option>
      <option value="WEEKLY">Weekly</option>
      <option value="MONTHLY">Monthly</option>
      <option value="YEARLY">Yearly</option>
    </select>
    <h5>Available Jobs</h5>
    <select name="jobConfigurations[]" multiple class="sortable all-jobs-list">
      {{#each results}}
      <option value="{{id}}">{{description}}</option>
      {{/each}}
      </ul>
    </select>
    <button class="btn btn-success" type="submit" id="save-new-job-list">Save</button>
    <button class="btn btn-warning" type="button" id="cancel-new-job-list">Cancel</button>
  </form>
</div>
