<svg xmlns="http://www.w3.org/2000/svg" width="0" height="0" data-testid="open" data-v-1d793abd="" class="hide-svg" role="img" aria-label="Open navigation">
  <title>Open navigation</title> 
  <g id="burgericon">
    <path fill="#262626" fill-rule="evenodd" d="M21 18a1 1 0 0 1 0 2H3a1 1 0 0 1 0-2h18zm0-7a1 1 0 0 1 0 2H3a1 1 0 0 1 0-2h18zm0-7a1 1 0 0 1 0 2H3a1 1 0 1 1 0-2h18z"></path>
  </g>  
</svg>
<svg data-v-1d793abd="" xmlns="http://www.w3.org/2000/svg" width="0" height="0" data-testid="close" class="hide-svg">
  <g id="closeicon">
    <path fill-rule="evenodd" d="M4.243 2.707l7.716 7.717 7.719-7.717a1 1 0 0 1 1.32-.083l.094.083a1 1 0 0 1 0 1.414l-7.718 7.717 7.84 7.84a1 1 0 0 1-1.415 1.414l-7.839-7.839-7.839 7.839a1 1 0 0 1-1.32.083l-.094-.083a1 1 0 0 1 0-1.414l7.838-7.84-7.717-7.717a1 1 0 1 1 1.415-1.414z"></path>
  </g>    
</svg>
<svg class="icon" width="24" height="24" viewBox="0 0 24 24"><use id="target" xlink:href="#burgericon"></use></svg>