<svg data-v-416e3cf9="" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" class="navigation-link__icon" role="img" aria-label="More">
<title>More</title>
<path fill="#FFF" fill-rule="evenodd" d="M5.044 15c-.268 0-.535-.103-.739-.308-.407-.41-.407-1.076 0-1.487L9.478 8 4.305 2.795c-.407-.41-.407-1.076 0-1.487.408-.41 1.07-.41 1.477 0l5.912 5.948c.408.411.408 1.077 0 1.487l-5.912 5.949c-.203.205-.47.308-.738.308z"></path></svg>