* {
	padding: 0px;
	margin: 0px;
}
img {
      border: 0 none;
}
body {
  background: none repeat scroll 0 0 white;
  color: #2C3440;
}

body, td, select, input, li{
  font-family: Arial, sans-serif;
  font-size: 12px;
}
code{
  font-family: Courier, monospace;
  font-size: 13px;
}
a {
  text-decoration: none;
}
a:link {
  color:#36a;
}
a:visited  {
  color:#47a;
}
a:active, a:hover {
  color:#69c;
}
#legend li.externalLink {
  background: url(../images/external.png) left top no-repeat;
  padding-left: 18px;
}
a.externalLink, a.externalLink:link, a.externalLink:visited, a.externalLink:active, a.externalLink:hover {
  background: url(../images/external.png) right center no-repeat;
  padding-right: 18px;
}
#legend li.newWindow {
  background: url(../images/newwindow.png) left top no-repeat;
  padding-left: 18px;
}
a.newWindow, a.newWindow:link, a.newWindow:visited, a.newWindow:active, a.newWindow:hover {
  background: url(../images/newwindow.png) right center no-repeat;
  padding-right: 18px;
}



h2 {
    color: #191D24;
    font-size: 15px;
    padding: 10px 0 7px;
    text-transform: capitalize;
}
h3 {
  color: #1D1D15;
}
h4 {
  padding: 4px 4px 4px 6px;
  border: 1px solid #bbb;
  color: #900;
  background-color: #fff;
  font-weight: normal;
  font-size: large;
}
h5 {
  padding: 4px 4px 4px 6px;
  color: #900;
  font-size: normal;
}
div.block {
    margin-bottom: 10px;
    width: 100%;
}

p {
  line-height: 1.3em;
  font-size: small;
}
#breadcrumbs {
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  background-color: #ccc;
}
#cont {
    padding: 0 22px;
}
#cont-col {
 float: left;
 width: 100%;
}
#cont-col .ind {
    padding: 22px 20px 10px 261px;
}
#footer {
    color: #AAB7C5;
    font-size: 12px;
    font-weight: normal;
    text-align: center;
}
#header{
    background: url("../images/bg-top.jpg") no-repeat scroll left top transparent;
    height: 203px;
}
#left-col {
    float: left;
    margin-right: -261px;
    position: relative;
    width: 261px;
}
#left-col .ind {
    padding: 22px 15px 10px 18px;
}
#main {
  margin: 0 auto;
  width: 900px;
}
table.bodyTable {
    width: 100%
}

table.bodyTable th {
  color: white;
  background-color: #bbb;
  text-align: left;
  font-weight: bold;
}

table.bodyTable th, table.bodyTable td {
  font-size: 1em;
}

table.bodyTable tr.a {
  background-color: #ddd;
}

table.bodyTable tr.b {
  background-color: #eee;
}

.source {
  border: 1px solid #999;
}
dl {
  padding: 4px 4px 4px 6px;
  border: 1px solid #aaa;
  background-color: #ffc;
}
dt {
  color: #900;
}
#organizationLogo img, #projectLogo img, #projectLogo span{
  margin: 8px;
}
#banner {
  border-bottom: 1px solid #fff;
}
.bg-top {
  background: url("../images/bg-bot.gif") repeat-x scroll center bottom #E3E7ED;
}
.bg {
      background: url("../images/bg.gif") repeat-x scroll center top transparent;
}
.breadcrumb {
    color: #017BC2;
    font-size: 12px;
    font-weight: normal;
    padding: 12px 10px 0 50px;
    text-align: left;
}
.border-bot2 {
      background: url("../images/line.gif") repeat-y scroll left center transparent;
}
.border-left {
    background: url("../images/border-left.gif") repeat-y scroll left center #FFFFFF;
}
.border-right {
    background: url("../images/border-right.gif") repeat-y scroll right center transparent;
}
.border-bot {
    background: url("../images/border-bot.gif") repeat-x scroll center bottom transparent;
}
.corner-bot-left {
    background: url("../images/corner-bot-left.gif") no-repeat scroll left bottom transparent;
   
}
.corner-bot-right {
    background: url("../images/corner-bot-right.gif") no-repeat scroll right bottom transparent;
    overflow: hidden;
    width: 100%;
}
corner-bot-right2 {    
    width: 100%;
}
.errormark, .warningmark, .donemark, .infomark {
  background: url(../images/icon_error_sml.gif) no-repeat;
}
.foot {
   margin: 0 auto;
   padding: 14px 0 50px;
   text-align: left;
   width: 900px;
}
.head-row1 {
  height: 111px;
}
.head-row2{
    height: 51px;
    overflow: hidden;
}
.head-row3 {
     height: 41px;
}
.inner {
 padding: 15px;
}
.logo {
	float: left;
    margin: 0 0 0 24px;
}
.title {
    background: url("../images/line.gif") repeat-x scroll center bottom transparent;
    padding: 10px 0 0 15px;
}
.warningmark {
  background-image: url(../images/icon_warning_sml.gif);
}

.donemark {
  background-image: url(../images/icon_success_sml.gif);
}

.infomark {
  background-image: url(../images/icon_info_sml.gif);
}

.title h5 {
    color: #017BC2;
    font-size: 12px;
    font-weight: bold;
    padding: 0 0 10px;
    text-transform: uppercase;
}
.content {
    color: #2C3440;
    line-height: 16px;
    padding: 0 10px 20px 0;
}

.block .content {
    padding: 15px 20px 10px 24px;
}

ul.menu {
    margin: 0;
    padding: 0;
}
ul.menu li strong {  
   border-bottom: 1px solid #FFFFFF;
   padding: 0.2em 0 0.2em 1.5em;
}
ul.menu li a {
   border-bottom: 1px solid #FFFFFF;
   padding: 0.2em 0 0.2em 1.5em;
   text-decoration: underline;
}
ul.menu li {
    background-position: 2.5em 1em;
    line-height: 20px;
    list-style-image: none;
    list-style-type: none;
    margin: 0;
    padding: 0.1em 0;
    margin-left: 2em;
}

ul li.expanded {
   background: url("../images/menu-expanded.gif") no-repeat scroll 1px 0.35em transparent;
}
ul li.collapsed {
   background: url("../images/menu-expanded.gif") no-repeat scroll 1px 0.35em transparent;
}
ul li.leaf {
   background: url("../images/menu-leaf.gif") no-repeat scroll 1px 0.35em transparent;
}

ul.menu li.expanded ul {
 border-bottom: 3px solid #FFFFFF;
 margin-top: 0.2em;
}

.xleft {
	float: left;
}
.xright {
	float: right;
}

div.cent ul,ol {
  margin: 1em
}

div.cent pre {
  width: 100%;
  overflow: none
}