<div class="c-gallery-item">
  <figure class="c-gallery-item__fig">
    <img src="img/raster/example-image-1.jpg" alt="Alt text">
    <div class="c-gallery-item__caption">
      Image caption lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.
    </div>
  </figure>
</div>