<div aria-hidden="true" aria-labelledby="myLargeModalLabel" class="modal fade gallery-modal-fullsceen" role="dialog" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="carousel slide" data-interval="false" data-ride="carousel" id="carousel-example-generic">
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <div class="item active">
            {{>gallery-item}}
          </div>
          <div class="item">
            {{>gallery-item}}
          </div>
          <div class="item">
            {{>gallery-item}}
          </div>
        </div><!-- Controls -->
        <a class="left carousel-control" data-slide="prev" href="#carousel-example-generic" role="button"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class=
        "right carousel-control" data-slide="next" href="#carousel-example-generic" role="button"><span class="glyphicon glyphicon-chevron-right"></span></a>
      </div>
    </div>
  </div>
</div>