<div class="c-header__logo">
  <a href="/">
    <h1 class="visuallyhidden">Kew Science</h1>
    <svg class="kew-logo svg--sprite-kew-science-potwp-dims">
      <use xlink:href="#sprite-kew-science-potwp"></use>
    </svg>
  </a>
</div>