<h1>About ColFungi</h1>

<p>
  <em>ColFungi</em> is an expert-driven and open access online portal that provides information on Colombian fungi and their uses. 
</p>

<p>
  <em>ColFungi</em> collects information from Kew’s databases and various external sources, displaying it in one place while preserving the appropriate links and citations. Only publicly available content is used and, as part of the content-gathering process, steps are taken to ensure that publishers have respected the Nagoya Protocol (part of the international Convention on Biological Diversity that aims to ensure the fair and equitable sharing of benefits arising from the utilisation of genetic resources) as well as Colombian laws relating to traditional knowledge. 
</p>

<p>
  <em>ColFungi</em> is part of the Useful Plants and Fungi of Colombia (UPFC) project delivered by the Royal Botanic Gardens, Kew, in partnership with the Alexander von Humboldt Biological Resources Research Institute. 
</p>

<p>
  It was developed in collaboration with mycological experts in Colombia, including staff from:   
</p>

<ul>
  <li>
    Asociación Colombiana de Micología (ASCOLMIC)  
  </li>
  <li>
    Grupo BioMicro y de Microbiología Ambiental, Colección de Microorganismos, Escuela de Microbiología, Universidad de Antioquia UdeA, Medellín, Colombia 
  </li>
  <li>
    Laboratorio de Micología y Fitopatología, Universidad de los Andes, Bogotá, Colombia 
  </li>
  <li>
    Botanischer Garten und Botanisches Museum, Freie Universität Berlin, Germany 
  </li>
  <li>
    Grupo Colombiano de Liquenología (GCOL) 
  </li>
  <li>
    Grupo de Taxonomía y Ecología de Hongos (TEHO), Universidad de Antioquia, Medellín, Colombia 
  </li>
  <li>
    Grupo Micólogos Colombia 
  </li>
  <li>
    Licenciatura en Biología, Universidad Distrital Francisco José de Caldas, Bogotá, Colombia 
  </li>
  <li>
    Grupo de Investigación en Biología de Plantas y Microorganismos (BPM), Departamento de Biología, Facultad de Ciencias Naturales y Exactas, Universidad del Valle, Cali, Colombia 
  </li>
  <li>
    Herbario, Universidad de Caldas, Manizales, Colombia 
  </li>
  <li>
    Centro de Investigaciones en Microbiología y Biotecnología, Universidad del Rosario, Bogotá, Colombia 
  </li>
  <li>
    Departamento de Medicina Interna, Universidad del Cauca, Popayán, Colombia 
  </li>
  <li>
    Semillero de Investigación en Etnobiología (SIE), Universidad del Cauca, Cauca, Colombia 
  </li>
  <li>
    Escuela de Ingeniería, Universidad de San Buenaventura, Medellín, Colombia 
  </li>
  <li>
    Línea de Usos y Saberes de Hongos en Andes Nororientales, Grupo de Investigación Biología para la Conservación, Universidad Pedagógica y Tecnológica de Colombia- Tunja, Colombia 
  </li>
  <li>
    Grupo de Sustentabilidad Ambiental (SUSA), Departamento de Biología y Química, Universidad de los Llanos, Villavicencio, Colombia 
  </li>
  <li>
    Grupo de Investigación en Micología (GIM/CICBA), Facultad de Ciencias Básicas, Universidad Santiago de Cali, Cali, Colombia 
  </li>
  <li>
    Departamento de Biología, Universidad Autónoma de Aguascalientes, Aguascalientes, México
  </li>
  <li>
    Grupo de Ecología y Diversidad Vegetal, Departamento de Biología, Universidad del Valle, Cali, Colombia 
  </li>
  <li>
    Departamento de Ciencias Agropecuarias, Universidad del Cauca, Popayán, Colombia 
  </li>
</ul>

<p>
  <a class="main-partner-image" href="https://www.kew.org/"><img alt="Kew Gardens" src="/img/svg/kew-science-logo.svg"></a>
  <a class="main-partner-image" href="http://www.humboldt.org.co/"><img alt="In partnership with Instituto Humboldt" src="/img/svg/humboldt.svg"></a>
</p>

<p class="partner-images">
  <img alt="Universidad de Antioquia" src="/img/raster/colfungi_partners/01_universidad_antioquia.jpg">
  <img alt="Asociación Colombiana de Micología" src="/img/raster/colfungi_partners/02_ASCOLMIC.jpg">
  <img alt="Universidad de los Andes" src="/img/raster/colfungi_partners/03_universidad_Andes.jpg">
  <img alt="Botanischer Garten &amp; Botanisches Museum Berlin" src="/img/raster/colfungi_partners/04_BGBM.jpg">
  <img alt="Grupo Colombiano De Liquenología" src="/img/raster/colfungi_partners/05_gcologo.jpg">
  <img alt="Grupo de Micólogos Colombia" src="/img/raster/colfungi_partners/06_grupo_micologos_colombia.jpg">
  <img alt="Universidad Distrital Francisco José de Caldas" src="/img/raster/colfungi_partners/07_universidad_distrital.jpg">
  <img alt="Universidad del Valle" src="/img/raster/colfungi_partners/08_universidad_valle.jpg">
  <img alt="Universidad de Caldas" src="/img/raster/colfungi_partners/09_universidad_caldas.jpg">
  <img alt="TEHO Laboratorio de Taxonomía y Ecología de Hongos" src="/img/raster/colfungi_partners/10_teho_verde_png.jpg">
  <img alt="Universidad del Rosario" src="/img/raster/colfungi_partners/11a_universidad_rosario.jpg">
  <img alt="Centro de Investigaciones en Microbioloía y Biotechnología de la Universidad del Rosario" src="/img/raster/colfungi_partners/11b_CIMBIUR_rosario.jpg">
  <img alt="Universidad del Cauca" src="/img/raster/colfungi_partners/12_universidad_cauca.jpg">
  <img alt="Universidad de San Buenaventura Medellín" src="/img/raster/colfungi_partners/13_universidad_san-buenaventura.jpg">
  <img alt="Universidad Pedagógica y Tecnológica de Colombia" src="/img/raster/colfungi_partners/14a_universidad_pedagogica-tecnologica-tunja.jpg">
  <img alt="Biología para la Conservación" src="/img/raster/colfungi_partners/14c_GRUPO BIOLOGIA CONSERVACION.jpg">
  <img alt="Usos y saberes de hongos - Andes Nororientales" src="/img/raster/colfungi_partners/14c_Linea usos y saberes de hongos AN.jpg">
  <img alt="Universidad de los Llanos" src="/img/raster/colfungi_partners/15_universidad_llanos.jpg">
  <img alt="Universidad Santiago de Cali" src="/img/raster/colfungi_partners/16_universidad_santiago-de-cali.jpg">
</p>

 <h2 id="citation">Citation and attribution</h2>
 
<p>If you use our data, we strongly encourage you to cite or reference this work as you would any other scientific
  research (even if the license does not explicitly require you to).</p>
<p>Many of the datasets are the result of a huge amount of time and effort invested by Kew staff and
  collaborators. Some represent an individual's work over many decades. Citing this data allows us to measure the
  impact of the research and encourages others to deposit their data into the portal.</p>
<h3 id="cite-powo">Citing ColFungi</h3>
<blockquote>ColFungi (2021). "Useful Fungi of Colombia. Facilitated by the Royal Botanic Gardens, Kew.
  Published on the Internet; https://colfungi.org/ Retrieved dd month yyyy."</blockquote>
<p>Update accordingly to include the date you accessed the site.</p>