<h1>About ColFungi</h1>
<p>This work is part of the Useful Plants and Fungi of Colombia (UPFC) project delivered by the Royal Botanic Gardens,
  Kew, in partnership with the Alexander von Humboldt Biological Resources
  Research Institute.</p>
<p>It was developed in collaboration with the mycological community in Colombia, including the
  Colombian Association of Mycology (ASCOLMIC), Botanischer Garten und Botanisches Museum in Germany, BioMicro of the
  University of Antioquia, the Group of Taxonomy and Ecology of Fungi of the University of Antioquia (TEHO), University
  of the Andes, the Research Group in Mycology of the University of Cali (GIM/CICBA), the Research Group in
  Environmental Sustainability (SUSA) of the University of Los Llanos, the Research Group of Biology and Conservation of
  the University Pedagógica y Tecnológica in Tunja, the Research Group of Biology and Microorganisms (BPM) of the
  University of Valle, the Colombian Mycology group and the Colombian Group of Lichenology (GCOL).
</p>
<p>The UPFC project aims to enhance nature’s contribution to people in Colombia by:</p>
<ul>
  <li>Increasing and consolidating knowledge on Colombia’s useful plants and fungi and making it accessible for the
    benefit of the society.
  <li>Promoting a market for useful native species and their high value natural products and encouraging the sustainable
    use of natural resources that protects the environment and enhances biodiversity.
</ul>
<p>For further information, please visit <a href="https://www.kew.org/upfc">www.kew.org/upfc</a> and <a
    href="http://www.in-colombia.org">www.in-colombia.org</a>.
<p>
  <a class="main-partner-image" href="https://www.kew.org/"><img alt="Kew Gardens" src="/img/svg/kew-science-logo.svg"></a>
  <a class="main-partner-image" href="http://www.humboldt.org.co/"><img alt="In partnership with Instituto Humboldt"
      src="/img/svg/humboldt.svg"></a>
</p>
<p class="partner-images">
  <img alt="Universidad de Antioquia" src="/img/raster/colfungi_partners/01_universidad_antioquia.jpg">
  <img alt="Asociación Colombiana de Micología" src="/img/raster/colfungi_partners/02_ASCOLMIC.jpg">
  <img alt="Universidad de los Andes" src="/img/raster/colfungi_partners/03_universidad_Andes.jpg">
  <img alt="Botanischer Garten & Botanisches Museum Berlin" src="/img/raster/colfungi_partners/04_BGBM.jpg">
  <img alt="Grupo Colombiano De Liquenología" src="/img/raster/colfungi_partners/05_gcologo.jpg">
  <img alt="Grupo de Micólogos Colombia" src="/img/raster/colfungi_partners/06_grupo_micologos_colombia.jpg">
  <img alt="Universidad Distrital Francisco José de Caldas"
    src="/img/raster/colfungi_partners/07_universidad_distrital.jpg">
  <img alt="Universidad del Valle" src="/img/raster/colfungi_partners/08_universidad_valle.jpg">
  <img alt="Universidad de Caldas" src="/img/raster/colfungi_partners/09_universidad_caldas.jpg">
  <img alt="TEHO Laboratorio de Taxonomía y Ecología de Hongos"
    src="/img/raster/colfungi_partners/10_teho_verde_png.jpg">
  <img alt="Universidad del Rosario" src="/img/raster/colfungi_partners/11a_universidad_rosario.jpg">
  <img alt="Centro de Investigaciones en Microbioloía y Biotechnología de la Universidad del Rosario"
    src="/img/raster/colfungi_partners/11b_CIMBIUR_rosario.jpg">
  <img alt="Universidad del Cauca" src="/img/raster/colfungi_partners/12_universidad_cauca.jpg">
  <img alt="Universidad de San Buenaventura Medellín"
    src="/img/raster/colfungi_partners/13_universidad_san-buenaventura.jpg">
  <img alt="Universidad Pedagógica y Tecnológica de Colombia"
    src="/img/raster/colfungi_partners/14a_universidad_pedagogica-tecnologica-tunja.jpg">
  <img alt="Biología para la Conservación" src="/img/raster/colfungi_partners/14c_GRUPO BIOLOGIA CONSERVACION.jpg">
  <img alt="Usos y saberes de hongos - Andes Nororientales"
    src="/img/raster/colfungi_partners/14c_Linea usos y saberes de hongos AN.jpg">
  <img alt="Universidad de los Llanos" src="/img/raster/colfungi_partners/15_universidad_llanos.jpg">
  <img alt="Universidad Santiago de Cali" src="/img/raster/colfungi_partners/16_universidad_santiago-de-cali.jpg">
</p>
<h2>Funding</h2>
<p>This work is supported by a Professional Development & Engagement grant under the Newton-Caldas Fund partnership. The
  grant is funded by the UK Department for Business, Energy and Industrial Strategy (BEIS) and the Colombian Ministry of
  Science, technology and Innovation (MinCiencias), and delivered by the British Council.</p>
<img class="partners-image-block" src="/img/raster/colfungi_partners/colfungi_partners.png"
  alt="Co-funded by Newton-Caldas Fund and El conocimiento es de todos | Miniciencias. Delivery partner: British Council">
<h2>About POWO</h2>
<p>Col<em>Fungi</em> is based on <a href="plantsoftheworldonline.org">Plants of the World Online.</a></p>
<p>In 2015, the Royal Botanic Gardens, Kew launched its first Science Strategy establishing its vision to document and
  understand global plant and fungal diversity and their uses, bringing authoritative expertise to bear on the critical
  challenges facing humanity today. The Science Strategy also committed Kew to delivering nine strategic outputs with
  the overarching aim to disseminate Kew's scientific knowledge of plants and fungi to maximize its impact in science,
  education, conservation policy and management. The Plants of the World Online portal (POWO), is one of the nine
  strategic outputs and its aim is to enable users to access information on all the world's known seed-bearing plants by
  2020.</p>
<p>With over 8.5 million items, Kew houses the largest and most diverse botanical and mycological collections in the
  world in the Victorian Herbarium and Fungarium in West London. They represent over 95% of known flowering plant genera
  and more than 60% of known fungal genera and yet, only 20% of this knowledge is available online. POWO is Kew's way of
  turning 250 years of botanical knowledge into an open and accessible online global resource.</p>
<p>POWO draws together Kew's extensive data resources including its regional Floras and monographs, alongside images
  from the digitisation of the collections. The portal has been designed to maximise accessibility and enables the
  dissemination of plant information to its users via a mobile, tablet or desktop computer.</p>
<p>POWO was launched in March 2017 with a focus on key tropical African Floras - Flora Zambesiaca, Flora of West
  Tropical Africa and Flora of Tropical East Africa specifically. Descriptive data from these Floras was linked via a
  curated taxonomy to images from the digitisation of the collections enabling Kew to finally put a substantial part of
  these Floras online. In addition, data from Kew's Grassbase and PalmWeb databases have also been included along with
  species level data for some but not all Orchids.</p>
<p>It is important to note that POWO is not perfect and represents work in progress - see Limitations below. Ultimately,
  POWO will become a single point of access for authoritative plant species information, a multi-dimensional catalogue
  of plant life, including information on identification, distribution, traits, conservation, molecular phylogenies and
  uses. The codebase is open source and Kew hopes to support existing partner networks to set up their own portals,
  creating a distributed network of botanical data hubs. POWO aims to become a resource that has global coverage which
  can empower and inform citizens, policy makers, conservationists and farmers everywhere, about the importance of
  plants and fungi to life.</p>
<h2>Limitations</h2>
<p>Data comes from a variety of sources which are both monographic (global) and regional in scope. These data sources
  vary in the extent to which comprehensive synonymy is included, their stage of development (proximity to publication)
  and the degree to which they have been exposed to peer review.</p>
<p>POWO is a dynamic resource and content is added continuously. By 2020, POWO will be the most comprehensive single
  information resource covering all plants. We make taxonomic decisions from peer reviewed, curated, authoritative
  sources where we can, but not in every case. POWO therefore should only be treated as advisory. Other, more
  authoritative lists may exist for particular regions or taxa.</p>
<h2>Contact Us</h2>
<p>For further information or to provide feedback or make an enquiry about POWO, please email us at <a
    href="mailto:bi@kew.org">bi@kew.org</a>.</p>