<h1>About ColPlantA</h1>
<p>In 2015, the Royal Botanic Gardens, Kew launched its first Science Strategy establishing its vision to document and
  understand global plant and fungal diversity and their uses, bringing authoritative expertise to bear on the critical
  challenges facing humanity today. The Science Strategy also committed Kew to delivering nine strategic outputs with
  the overarching aim to disseminate Kew's scientific knowledge of plants and fungi to maximize its impact in science,
  education, conservation policy and management. The Plants of the World Online portal (POWO), is one of the nine
  strategic outputs and its aim is to enable users to access information on all the world's known seed-bearing plants by
  2020.</p>
<p>With over 8.5 million items, Kew houses the largest and most diverse botanical and mycological collections in the
  world in the Victorian Herbarium and Fungarium in West London. They represent over 95% of known flowering plant genera
  and more than 60% of known fungal genera and yet, only 20% of this knowledge is available online. POWO is Kew's way of
  turning 250 years of botanical knowledge into an open and accessible online global resource.</p>
<p>POWO draws together Kew's extensive data resources including its regional Floras and monographs, alongside images
  from the digitisation of the collections. The portal has been designed to maximise accessibility and enables the
  dissemination of plant information to its users via a mobile, tablet or desktop computer.</p>
<p>POWO was launched in March 2017 with a focus on key tropical African Floras - Flora Zambesiaca, Flora of West
  Tropical Africa and Flora of Tropical East Africa specifically. Descriptive data from these Floras was linked via a
  curated taxonomy to images from the digitisation of the collections enabling Kew to finally put a substantial part of
  these Floras online. In addition, data from Kew's Grassbase and PalmWeb databases have also been included along with
  species level data for some but not all Orchids.</p>
<p>It is important to note that POWO is not perfect and represents work in progress - see Limitations below. Ultimately,
  POWO will become a single point of access for authoritative plant species information, a multi-dimensional catalogue
  of plant life, including information on identification, distribution, traits, conservation, molecular phylogenies and
  uses. The codebase is open source and Kew hopes to support existing partner networks to set up their own portals,
  creating a distributed network of botanical data hubs. POWO aims to become a resource that has global coverage which
  can empower and inform citizens, policy makers, conservationists and farmers everywhere, about the importance of
  plants and fungi to life.</p>
<h2>Contact Us</h2>
<p>For further information or to provide feedback or make an enquiry about POWO, please email us at colplanta@kew.org.
</p>
<h2>Limitations of POWO</h2>
<p>POWO is not perfect and represents work in progress. Data comes from a variety of sources which are both monographic
  (global) and regional in scope. These data sources vary in the extent to which comprehensive synonymy is included,
  their stage of development (proximity to publication) and the degree to which they have been exposed to peer review.
</p>
<p>There exist other reliable authoritative sources of taxonomic opinion for some groups or some regions which we simply
  have not had time yet to include. Our ambition is for future versions to be more inclusive and comprehensive. POWO is
  a dynamic resource and content is added continuously. By 2020, POWO will be the most comprehensive single information
  resource covering all plants but it will be imperfect and not all the taxonomic decisions contained derive from a peer
  reviewed, curated, authoritative source. POWO therefore should only be treated as advisory. Other, more authoritative
  lists may exist for particular regions or taxa.</p>
<p>POWO is only possible through the generous support of our benefactors, Michel and Hélène David-Weill.</p>
<h2>What ColPlantA is</h2>
<ul>
  <li>ColPlantA is a landing page with pre-filtered species profiles, hosted in the Plant of the World Online Portal
    (PoWO; <a href="http://www.plantsoftheworldonline.org">http://www.plantsoftheworldonline.org</a>), with specific
    features (i.e. links to items in Kew/RBGE collections, additional information on global/Colombian geographic
    distribution, etc.).</li>
  <li>ColPlantA will aggregate extant information in other portals (such as SiB Colombia and Catálogo de Plantas y
    Líquenes de Colombia), and will link to them. Therefore, it will be a window of visibility for these Colombian
    portals, amplifying the impact that they already have.</li>
  <li>ColPlantA will live in the platform POWO, and therefore will have a strong management support as a long-term,
    sustainable resource.</li>
  <li>ColPlantA will be an authoritative, expert-driven, constantly updated resource.</li>
  <li>Because of the limited budget, most of the information to be hosted in ColPlantA will come from aggregation of
    data already available in other portals and in Kew's databases.</li>
  <li>ColPlantA will hold only open-access information. Kew's policies state that all data have to be freely accessible
    (CC BY license). Therefore, information in ColPlantA may contribute to SiB Colombia (both in number of registers and
    contents). Prioritisation of species profiles can be decided in agreement with SiB Colombia and Colombian partners.
  </li>
  <li>As part of PoWO, ColPlantA will be based on structured content, following pre-defined standards (e.g. Darwin Core
    archive (DwCA), Economic Botany Standards). This will facilitate sharing and exchanging information with Colombian
    partners (e.g. SiB Colombia, Catálogo de Plantas y Líquenes de Colombia)</li>
  <li>Kew is always looking for collaborative efforts, and this is not the exception. By creating ColPlantA, Kew expect
    to be able to establish a two-way collaboration with Humboldt and the SiB Colombia Team.</li>
</ul>
<h2>What ColPlantA is not</h2>
<ul>
  <li>ColPlantA will not compete with any other portals. It aggregates information from different sources, providing the
    link and reference for the sources. Therefore, ColPlantA is not another SiB Colombia or another Catálogo de
    Plantas y Líquenes de Colombia.</li>
  <li>ColPlantA will not be another parallel platform, since there is no any platform aiming to aggregate information
    from other Colombian and global sources.</li>
  <li>ColPlantA will not be built from zero (not a build-from-the-ground portal). It will be hosted in the PoWO, and
    therefore will use the same global taxonomic backbone and infrastructure for data.</li>
</ul>
<h2>Advantages of ColPlantA</h2>
<p>While SiB Colombia is focused on local, Colombian information and scale, ColPlantA will build species profiles taking
  into account verifiable content from national, regional and global sources. In addition, by keeping the references and
  links to the source data, ColPlantA will increase visibility of partners collaborating with the project (e.g. SiB
  Colombia). For instance, the profile for <a href="http://powo.science.kew.org/taxon/77089275-1">Vachellia
    nilotica</a>, shows in the description sections from Flora Zambeziaca and Flora of Tropical East Africa, in addition
  to Kew's information. Then information already available from SiB Colombia profiles could be displayed (of course with
  the previous consent from the SiB Colombia Team) in ColPlantA.</p>
<h2>ColPlantA is possible thanks to</h2>
<p>The Royal Botanic Gardens, Kew (Kew) is an executive non-departmental public body part-funded by the United Kingdom
  Department for Environment, Food and Rural Affairs. Kew is a global resource for plant and fungal knowledge, whose
  scientific vision is to document and understand global plant and fungal diversity and its uses, bringing authoritative
  expertise to bear on the critical challenges facing humanity today.</p>
<p>This work was delivered by the Royal Botanic Gardens, Kew supported by a Newton-Caldas Fund grant. The grant was
  awarded by the UK Department for Business, Energy and Industrial Strategy under the Colombia Bio partnership between
  the British Council and Colciencias. For further information, please visit <a href="http://www.newtonfund.ac.uk"
    target="_blank">www.newtonfund.ac.uk</a>.</p>
<h1>Col<em>Plant</em>A team</h1>
<p>ColPlantA team at Kew and roles: Mauricio Diazgranados (Principal Investigator, Research Leader - Diversity &amp;
  Livelihoods), Fabio Ávila (Research Data Collector), María Álvarez (ERA Research Assistant), Emily
  Ambrose (Diversity &amp; Livelihoods Support Officer), David Baines (ERA Research Assistant), Amy Barker (ERA Research
  Assistant), David Bishop (Leader Content Editor, BISA Researcher), Julia Carretero (Contents Editor), Natalie Clamp
  (Contents Editor Support), Frances Cook (Economic Botany Collection Administrator -retired), James Crowe (Software
  Developer, BISA Researcher), Zoe Dennehy (BISA Researcher), Alice Di Sacco (Seeds Conservation Support Research Latin
  America), Hernando Echeverri (Research Visitor), Federico Fabriani (Herbarium Research Support), Felix Forest
  (Co-Investigator, DNA Senior Researcher), David Granados (Research Visitor), Ellie Graves (Economic Botany Collection
  Assistant), Laura Green (Economic Botany Collection Photographer), John Iacona (Lead Software Developer, BISA
  Researcher), Isabel López (ERA Research Assistant), Sergio Marrugo (ColPlantA Intern), Efisio Mattana (Research
  Leader - Seeds Conservation ), Alex Monro (Co-Investigator, Identification &amp; Naming Leader Researcher), Diego Moreno
  (Research Assistant Data), Lynda Murray (ERA Research Assistant), Mark Nesbitt (Co-Investigator, Senior Research
  Leader - Economic Botany), Eimear Nic Lughadha (Co-Investigator, Senior Research Leader - Conservation Assessment &amp;
  Analysis), Laura Pérez-Martínez (ColPlantA Intern), Sarah Phillips (Photo Supervisor - Research Leader
  Digital Collections), Laura Pinzón (ColPlantA Volunteer), Marina Piquer-Doblas (ERASMUS Intern), Priscila Reis
  (ERA Research Assistant), Alex Roberts (ERA Research Assistant), Ángela Rodríguez, Raquel Romero (Research
  Visitor), Natalí Sánchez (ColPlantA Intern), Rhian Smith (Senior Editor), Carlos Suárez (Research
  Visitor), Germán Torres (ColPlantA Intern), Rob Turner (Leader Content Editor, Senior Technical Leader), Michael
  Way (Conservation Partnership Co-ordinator (Americas+)), and Tiziana Ulian (Senior Research Leader - Diversity &amp;
  Livelihoods).</p>
<h1>Partner institutions</h1>
<p>Academia Colombiana de Ciencias Exactas Físicas y Naturales, Asociación Colombiana de Herbarios, British
  Council, Colciencias, Instituto Amazónico de Investigaciones Científicas SINCHI, Instituto de
  Investigación de Recursos Biológicos Alexander von Humboldt, Jardín Botánico de Bogotá
  José Celestino Mutis, Jardín Botánico de Cartagena Guillermo Piñeres, Jardín Botánico de
  Medellín Joaquín Antonio Uribe, Jardín Botánico del Quindío, RBG Edinburgh (en Reino Unido
  pero con colaboración en Colombia), Red Nacional de Jardines Botánicos, SiB Colombia, Tropenbos
  International, Universidad de la Amazonia, Universidad de Antioquia, Universidad de los Llanos, Universidad de
  Nariño, Universidad de Pamplona, Universidad del Cauca, Universidad Distrital Francisco José de Caldas,
  Universidad Nacional de Colombia, Universidad Pedagógica y Tecnológica de Colombia, and Universidad
  Tecnológica del Magdalena.</p>