<h1>About ColPlantA</h1>

<p><em>ColPlantA</em> is an expert-driven and open access online portal that provides information on Colombian plants and their uses. </p>

<p><em>ColPlantA</em> collects information from Kew’s databases and various external sources, displaying it in one place while preserving the appropriate links and citations. Only publicly available content is used and, as part of the content-gathering process, steps are taken to ensure that publishers have respected the Nagoya Protocol (part of the international Convention on Biological Diversity that aims to ensure the fair and equitable sharing of benefits arising from the utilisation of genetic resources) as well as Colombian laws relating to traditional knowledge. </p>

<p><em>ColPlantA</em> is part of Kew’s Plants of the World Online portal (plantsoftheworldonline.org) which contains structured content, following standards that facilitate sharing and exchange of information from global data resources. It is also part of Kew’s Useful Plants and Fungi (UPF) initiative, taking advantage of UPF’s databases and standards and applying them to Colombian plants. This makes accurate information on Colombia’s useful plants more widely available, both within Colombia and among the international community. </p>

<p>This work was delivered by the Royal Botanic Gardens, Kew supported by a Newton-Caldas Fund grant. The grant was awarded by the UK Department for Business, Energy and Industrial Strategy under the Colombia Bio partnership between the British Council and Colciencias. For further information, please visit <a href="https://www.newtonfund.ac.uk">www.newtonfund.ac.uk</a>.</p>

<p>It was developed in collaboration with botanical experts in Colombia, including staff from:</p>

<p>Academia Colombiana de Ciencias Exactas Físicas y Naturales, Asociación Colombiana de Herbarios, British Council, Colciencias, Instituto Amazónico de Investigaciones Científicas SINCHI, Instituto de Investigación de Recursos Biológicos Alexander von Humboldt, Jardín Botánico de Bogotá José Celestino Mutis, Jardín Botánico de Cartagena Guillermo Piñeres, Jardín Botánico de Medellín Joaquín Antonio Uribe, Jardín Botánico del Quindío, RBG Edinburgh (en Reino Unido pero con colaboración en Colombia), Red Nacional de Jardines Botánicos, SiB Colombia, Tropenbos International, Universidad de la Amazonia, Universidad de Antioquia, Universidad de los Llanos, Universidad de Nariño, Universidad de Pamplona, Universidad del Cauca, Universidad Distrital Francisco José de Caldas, Universidad Nacional de Colombia, Universidad Pedagógica y Tecnológica de Colombia, and Universidad Tecnológica del Magdalena. </p>

<h2>About POWO</h2>

<p><em>ColPlantA</em> is based on Plants of the World Online. </p>

<p>In 2015, the Royal Botanic Gardens, Kew launched its first Science Strategy establishing its vision to document and understand global plant and fungal diversity and its uses, bringing authoritative expertise to bear on the critical challenges facing humanity today. The Science Strategy also committed Kew to delivering nine strategic outputs with the overarching aim to disseminate Kew's scientific knowledge of plants and fungi to maximize its impact in science, education, conservation policy and management. The Plants of the World Online portal (POWO), is one of the nine strategic outputs and its aim is to enable users to access information on all the world's known seed-bearing plants by 2020.</p>

<p>With over 8.5 million items, Kew’s Herbarium and Fungarium house the largest and most diverse botanical and mycological collections in the world i. They represent over 95% of known flowering plant genera and more than 60% of known fungal genera and yet, only 20% of this knowledge is available online. POWO is Kew's way of turning 250 years of botanical knowledge into an open and accessible online global resource.</p>

<p>POWO draws together Kew's extensive data resources including its regional Floras and monographs, alongside images from the digitisation of the collections. The portal has been designed to maximise accessibility and enables the dissemination of plant information to its users via a mobile, tablet or desktop computer. </p>

<p>POWO was launched in March 2017 with a focus on key tropical African Floras - Flora Zambesiaca, Flora of West Tropical Africa and Flora of Tropical East Africa specifically. Descriptive data from these Floras was linked via a curated taxonomy to images from the digitisation of the collections enabling Kew to finally put a substantial part of these Floras online. In addition, data from Kew's Grassbase and PalmWeb databases have also been included along with species level data for some but not all Orchids.</p>

<p>It is important to note that POWO is not perfect and represents work in progress - see Limitations below. Ultimately, POWO will become a single point of access for authoritative plant species information, a multi-dimensional catalogue of plant life, including information on identification, distribution, traits, conservation, molecular phylogenies and uses. The codebase is open source and Kew hopes to support existing partner networks to set up their own portals, creating a distributed network of botanical data hubs. POWO aims to become a resource that has global coverage which can empower and inform citizens, policy makers, conservationists and farmers everywhere, about the importance of plants and fungi to life.</p>

<h2>Limitations</h2>

<p>Data comes from a variety of sources which are both monographic (global) and regional in scope. These data sources vary in the extent to which comprehensive synonymy is included, their stage of development (proximity to publication) and the degree to which they have been exposed to peer review. </p>

<p>POWO is a dynamic resource and content is added continuously. By 2020, POWO will be the most comprehensive single information resource covering all plants. We make taxonomic decisions from peer reviewed, curated, authoritative sources where we can, but not in every case. POWO therefore should only be treated as advisory. Other, more authoritative lists may exist for particular regions or taxa. </p>

 <h2 id="citation">Citation and attribution</h2>
 
<p>If you use our data, we strongly encourage you to cite or reference this work as you would any other scientific
  research (even if the license does not explicitly require you to).</p>
<p>Many of the datasets are the result of a huge amount of time and effort invested by Kew staff and
  collaborators. Some represent an individual's work over many decades. Citing this data allows us to measure the
  impact of the research and encourages others to deposit their data into the portal.</p>