<h1>About Plants of the World Online</h1>

<p>
  Welcome to Plants of the World Online (POWO) which is an international collaborative programme that has as a primary aim to make available digitized data of the world’s flora gathered from the past 250 years of botanical exploration and research. POWO also aims to make freely available electronic data created by different projects but that no longer have an online presence or where data was never made available externally. It delivers information on the taxonomy, identification, images, distribution, traits, threat status, molecular phylogenies and uses of vascular plants worldwide. The data are sourced from the Royal Botanic Gardens, Kew as well as its partners and collaborators who generously contribute data and make it openly accessible on POWO.
</p>

<p>  Launched in March 2017 by the Royal Botanic Gardens, Kew, with an initial focus on tropical African Floras was made possible through the generous support of our benefactors, Michel and Hélène David-Weill. POWO’s aim is to empower and inform citizens, policy makers, conservationists, horticulturalists, farmers, gardeners and plant enthusiasts globally. The codebase is open source and Kew supports existing partner networks to set up their own portals, creating a distributed network of botanical data hubs.
</p>
<p>
  All data incorporated into POWO are attached to the currently accepted name from the WCVP names backbone. Descriptive data published in the past one hundred years are digitized under the name used at the time. Because of continuous research and better insights into how plants are related to each other, plant names have had to be changed and therefore the original name under which the data was published may differ from the name under which it is currently displayed on POWO. Full synonymy is provided in POWO, so it is easy to find the data under any name you search for as well as indicating with each descriptive element the original name under which the data were published.
</p>

<p>  In addition, a key function of POWO is to ensure that relevant data can be harvested for research purposes and to be incorporated by the World Flora Online (WFO) portal enabling the POWO data providers to support the Global Strategy for Plant Conservation (GSPC) Target 1 2020.
</p>

<h2>Plant names backbone and maps</h2>

<p>
  POWO uses WCVP as the names backbone and therefore the taxonomy in POWO is identical to that on the WCVP website <a href="https://wcsp.science.kew.org/">https://wcvp.science.kew.org/</a>. The names and distribution data are updated weekly from WCVP. The maps are generated from the level 3 <a href="https://web.archive.org/web/20160125135239/http:/www.nhm.ac.uk/hosted_sites/tdwg/TDWG_geo2.pdf">TDWG geographical codes</a> in the WCVP database and are also refreshed weekly on POWO.

</p>  
<p>
  The names backbone WCVP is primarily a list of all species of vascular plants. Generic circumscriptions generally follow published global generic accounts like <a href="">Genera Orchidacearum</a> for all orchids with changes made as new insights are published, which are normally discussed with family experts before being implemented in WCVP. About half of the taxonomic data are peer reviewed and generic circumscriptions follow the advice of the reviewers which aims to encompass most researchers active in a particular family. Genera for which there is no recent account, our default taxonomy is that published in the book Plants of the World: An Illustrated Encyclopedia of Vascular Plant Families (Christenhusz & al., 2017).

</p>  
<p>
  Evidence for acceptance or synonymy of names are given in the form of references which are cited under the bibliography, citing references that accept the name are under the heading “Accepted by “ and those that synonymise the name are under the heading “Not accepted by”. Evidence for presence in a particular botanical country can also be found in the bibliography and specifically under the heading “Kew Backbone Distributions “. In principle the latest published species taxonomy is followed unless reviewers tell us otherwise. It is important to stress that the references can only be added to names used in the cited publication and therefore when a genus is sunk only the genus and the type species may have references as the other names are not mentioned in the paper that sinks the genus. The reference may also be under one of the homotypic names, it is therefore important to consider all references under the accepted name, its synonyms, the genus and the synonyms of the genus to get the full picture of the evidence for a particular species taxonomy.

</p>  
<p>
  Unplaced names are names that cannot be accepted, nor can they be put into synonymy. This may be because the name is not validly published, or it is a later homonym and therefore illegitimate or because the genus name is not accepted. A name can also be unplaced because it cannot be put into synonymy which may be because no correct name is available in an accepted genus, this may also be because no type material is known to exist and therefore it cannot be established to which species concept the name belongs or the type material may be insufficient to establish a clear identity or it may not have been studied by experts in the group and therefore no published synonymy exists.

</p>  
<p>
  Autonyms are currently only included for plant families that have been peer reviewed and which are also available on the WCSP website <a href="https://wcsp.science.kew.org/">https://wcsp.science.kew.org/</a> as well as some in Asteraceae, Ferns and Fabaceae. We hope to add all autonyms when the geography has been completed.

</p>  

<h2>Limitations</h2>
<p>
  It is important to stress that POWO is a data provider and no data are compiled or edited within POWO itself but come from a diverse spectrum of contributors both internally from Kew gardens as well as externally from partners and contributors. The central premise is to make historic published data available as it was published, it is not the intention to edit those published data nor to add to them. It is therefore very important to look at each of the data elements provided within the context of when and where they were published.

</p>  
<p>
  Both POWO and the WCVP names backbone use the IPNI Life Sciences Identifier (LSID) as their ID’s and therefore only plant names that are also in the International Plant Names Index (IPNI) can be shown. Consequently, not all names in the WCVP database can currently be shown, in particular Old World infraspecific names from before 1971 are largely missing but we are working with IPNI to add the hundreds of thousands of missing names.

</p> 
<p>

  We aim to incorporate the latest published taxonomy but sometimes papers are overlooked, in which case, please let us know. Also, sometimes changes are not made as we feel more evidence is needed to prevent changing the taxonomy and then at a later point having to change it again which can be very disruptive for users.

</p>  
<p>

  Newly published names are added from IPNI annually into the names backbone, they are then edited and therefore take some months to become visible on the POWO website, so if a name you recently published is missing, please check the IPNI website <a href="https://ipni.org/">https://ipni.org/</a> and if the name is present then it will be visible on POWO soon, if it is not on IPNI, then please email them directly on <a href="mailto:ipnifeedback@kew.org">ipnifeedback@kew.org</a> so it can be added by the IPNI editors and will then be automatically be incorporated into POWO.

</p>  
<p>

  The geographic data are currently still incomplete but we aim to complete those by mid-2021. In particular geographic data are incomplete for North America where families are not yet published in Flora of North America, the Indian subcontinent, Japan and Australasia.

</p>  
<p>
  POWO is a dynamic resource and content is added continuously and taxonomic decisions are made from peer reviewed, curated, authoritative sources where we can, but not in every case. POWO therefore should only be treated as advisory. Other, more authoritative lists may exist for particular regions or taxa though it is essential to compare like for like as many online resources are no longer updated and therefore the date on which the data was last updated should be checked, for POWO that is last Monday.
</p>  

 <h2 id="citation">Citation and attribution</h2>
 
<p>If you use our data, we strongly encourage you to cite or reference this work as you would any other scientific
  research (even if the license does not explicitly require you to).</p>
<p>Many of the datasets are the result of a huge amount of time and effort invested by Kew staff and
  collaborators. Some represent an individual's work over many decades. Citing this data allows us to measure the
  impact of the research and encourages others to deposit their data into the portal.</p>
<h3 id="cite-powo">Citing PoWO</h3>
<blockquote>POWO ({{citationYear}}). "Plants of the World Online. Facilitated by the Royal Botanic Gardens, Kew. Published on
  the Internet; http://www.plantsoftheworldonline.org/<br>Retrieved {{citationDate}}."</blockquote>
<p>Update accordingly to include the date you accessed the site.</p>
