<h1>About the Plants of the World Online portal</h1>
<p>Plants of the World Online (POWO) is the first online database providing authoritative information of the
  world&rsquo;s flora gathered from 250 years of botanical knowledge. It delivers information on the identification,
  distribution, traits, threat status, molecular phylogenies and uses of seed-bearing plants worldwide.</p>
<p>Launched in March 2017 by the Royal Botanic Gardens, Kew, with a focus on key tropical African Floras - Flora
  Zambesiaca, Flora of West Tropical Africa and Flora of Tropical East Africa specifically, POWO&rsquo;s aim is to
  empower and inform citizens, policy makers, conservationists and farmers globally. In addition, data from Kew's
  Grassbase and PalmWeb databases have also been included along with species level data for some Orchids.</p>
<p>The codebase is open source and Kew supports existing partner networks to set up their own portals, creating a
  distributed network of botanical data hubs.</p>
<p>In addition, a key function of POWO is to ensure that Kew's floristic data can be harvested and incorporated by the
  World Flora Online (WFO) portal enabling Kew to support the Global Strategy for Plant Conservation (GSPC) Target 1
  2020.</p>
<h2>Limitations</h2>
<p>Data comes from a variety of sources which are both monographic (global) and regional in scope. These data sources
  vary in the extent to which comprehensive synonymy is included, their stage of development (proximity to publication)
  and the degree to which they have been exposed to peer review.</p>
<p>POWO is a dynamic resource and content is added continuously. By 2020, POWO will be the most comprehensive single
  information resource covering all plants. We make taxonomic decisions from peer reviewed, curated, authoritative
  sources where we can, but not in every case. POWO therefore should only be treated as advisory. Other, more
  authoritative lists may exist for particular regions or taxa.</p>
<h2>POWO at a Glance</h2>
<ul>
  <li>1,124,000 global plant names</li>
  <li>90,100 detailed descriptions</li>
  <li>193,800 images</li>
</ul>
<h2>Contact Us</h2>
<p>For further information, to provide feedback, or make an enquiry about POWO, please&nbsp;<a
    href="mailto:bi@kew.org">email us</a>.</p>
<p>POWO is only possible through the generous support of our benefactors, Michel and H&eacute;l&egrave;ne David-Weill.
</p>
<h2>About Royal Botanic Gardens Kew</h2>
<p>With over 8.5 million items, Kew houses the largest and most diverse botanical and mycological&nbsp;<a
    href="http://www.kew.org/science/collections">collections</a>&nbsp;in the world in its Herbarium and Fungarium in
  West London. They represent over 95 per cent of known flowering plant genera and more than 60 per cent of known fungal
  genera. Currently only around 20 per cent of this knowledge is available online.&nbsp;Find out more about Kew&rsquo;s
  scientific research [link to kew.org/science]</p>