/* =Reset
   ----------------------------------------------------*/
/*
html, body, div, span, a,
h1, img, ul, li, form {
margin: 0;
padding: 0;
border: 0;
outline: 0;
font-size: 100%;
vertical-align: baseline;
background: transparent;}
a { text-decoration: none; }
ul li {list-style: none;}
*/
/* --- */
/*
body {
    padding: 20px 0;
    font: medium/1.3 Helvetica, Arial, sans-serif;
    color: #222;
    background-color: #fafafa;
}  

form { margin-top: 1em; }

ul, form ul li { margin-bottom: .5em; }

strong { font-weight: bold; }

h1 { margin-bottom: 1em; }
*/
#wrapper_gallery {
    width: 700px;
    margin: 0 auto;
    padding: 20px;
    background-color: #E5EDF2;
}

#img {
    position: relative;
    /*width: 700px;
    height: 450px;*/
    margin-bottom: 1em;
}

#gallery { height: 84px; }

#wrapper_gallery, #img, #gallery li {
    border: 1px solid #223106;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

#gallery li {
    float: left;
    padding: 1px;
    /*background: transparent url(../i/ajax-loader-small.gif) 50% 50% no-repeat;*/
    border-color: #345;
    cursor: pointer;
}

.caption {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 96%;
    height: 50px;
    padding: 0 2%;
    line-height: 50px;
    color: #fff;
    background-color: #000;
    opacity: .8;
}

