.jcarousel-skin-tango .jcarousel-container {
    background: #F5F5F0;
    border: 1px solid #347689;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.jcarousel-skin-tango .jcarousel-container-horizontal {
	width: 562px;
    padding: 20px 69px;
}

.jcarousel-skin-tango .jcarousel-clip-horizontal {
    height: 84px;
	width: 562px;
}

.jcarousel-skin-tango .jcarousel-item {
    width: 100px;
    height: 80px;
}

.jcarousel-skin-tango .jcarousel-item-horizontal { margin-right: 10px; }

.jcarousel-skin-tango .jcarousel-item-placeholder {
    background: #fff;
    color: #000;
}

.jcarousel-skin-tango .jcarousel-next-horizontal {
    position: absolute;
    top: 43px;
    right: 10px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(images/gallery/next-horizontal.png) no-repeat 0 0;
}

.jcarousel-skin-tango .jcarousel-next-horizontal:hover { background-position: -32px 0; }
.jcarousel-skin-tango .jcarousel-next-horizontal:active { background-position: -64px 0; }

.jcarousel-skin-tango .jcarousel-next-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:active {
    cursor: default;
    background-position: -96px 0;
}

.jcarousel-skin-tango .jcarousel-prev-horizontal {
    position: absolute;
    top: 43px;
    left: 10px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(images/gallery/prev-horizontal.png) no-repeat 0 0;
}

.jcarousel-skin-tango .jcarousel-prev-horizontal:hover { background-position: -32px 0; }
.jcarousel-skin-tango .jcarousel-prev-horizontal:active { background-position: -64px 0; }

.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:active {
    cursor: default;
    background-position: -96px 0;
}