/*
 * Form - Inline defaults
 */
.form-inline {
  button {
    display: none;
  }
  select,
  input {
    border-radius: $input-radius;
  }
  select {
    option {
      color: #000000;
      font-size: 16px;
      padding: 0.4em 1.5em;
    }
  }
}

/*
 * Form - Inline form, results page.
 */
.form-inline--search {
  margin: 0;
  position: relative;
  width: 100%;
	padding: 15px 0;

  input {
    width: 100%;

    &.refine {
      line-height: normal;
    }
  }

  button {
    display: none;
  }

#uses {

  .form-group {
    padding-left: 15px;
  }

  form {
    padding-top: 15px;
  }

  label {
    font-weight: normal;
    cursor: pointer;
    cursor: hand;
  }

  input[type="checkbox"] {
    cursor: pointer;
    cursor: hand;
    margin-right: 10px;
  }

  .checkbox-group {
    width: 200px;
    float: left;
  }
}

/*
 * Form - Inline form, homepage.
 */
.form-inline--home {

  .form-group {
    margin: 0;
    select,
    input {
      width: 100%;
      border-radius: $home-radius;
    }
  }

  .form-inline__input {
    width: 100%;
    position: relative;
  }

}


/*
 * Form - Inline form, advanced modal.
 */
.form-inline--advanced {

  .form-group {
    border-bottom: 1px solid rgba(#FFFFFF,0.1);
    width: 100%;
    margin: 0;
    padding: 2em 0;
    display: flex;
    align-items: center;
    label {
      width: 25%;
    }
    .row {
      flex-grow: 1;
    }
  }

  .row {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
    .seperator {
      padding: 0 10px;
    }
    .col {
      flex-grow: 1;
      padding: 0 10px;
    }
  }

  .c-select {
    width: 100%;
  }

  .form-control {
    width: 100%;
    background-color: transparent;
    color: #FFFFFF;
    border: $border-translucent;
    padding: $input-padding-small;
    &:focus {
      background-color: #FFFFFF;
      color: #000000;
    }
  }

  .form-group-range {
    .seperator {
      display: inline-block;
      padding: 0 25px;
    }
    .c-select {
      width: 25%;
    }
  }

}
