/*
* Grid
*/
.grid {}

.grid--columns {
  > * {
    @include make-sm-column(6);
    @include make-md-column(4);
    @include make-lg-column(3);
    @include make-hg-column(3);
  }
}

.grid--lines {
  margin: 0 ($grid-gutter-width / 2);
  border-top: $border-grey;
  border-right: $border-grey;
  > * {
    border-left: $border-grey;
    border-bottom: $border-grey;
  }

}

.grid--equal-heights {
  display: flex;
  flex-wrap: wrap;
}

.container-fluid {
  
  padding-left: $grid-gutter-width / 2;
  padding-right: $grid-gutter-width / 2; 
  
  @media (min-width: $screen-md-min) {
    padding-left: $grid-gutter-width;
    padding-right: $grid-gutter-width;
  }

}