<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">    
    <encoder>
      <pattern>%d{ISO8601} | %-5p | %t | %c | %m%n</pattern>
    </encoder>
  </appender>
  <root level="WARN">
    <appender-ref ref="stdout"/>
  </root>
  <!-- uncommment to see the debug statements-->
  <!--<logger name="org.emonocot.persistence" level="DEBUG" additivity="false">
    <appender-ref ref="stdout"/>
  </logger>-->
  <!-- uncommment to see the sql statements-->
  <!-- <logger name="org.hibernate.SQL" level="TRACE" additivity="false">
    <appender-ref ref="stdout"/>
  </logger>
  <logger name="org.springframework.jdbc.core.JdbcTemplate" level="TRACE" additivity="false">
    <appender-ref ref="stdout"/>
  </logger>-->
</configuration>