{{#each featured-taxa-sections}}
  <div>
    <h2>{{title}}</h2>
    <div class="view-all">
      <a href="/results?q=">View All</a>
    </div>
  </div>
  <div class="featured-taxa">
    {{#each featuredTaxa}}
      <div class="taxa">
        {{> partials/featured/featured-taxon }}
      </div>
    {{/each}}
  </div>
{{/each}}