<div class="home__featured-image-description">
  <div>
    <div>
      Featured:
      <a href="/taxon/urn:lsid:ipni.org:names:77100386-1"><i>Lysimachia arvensis</i></a>
    </div>
    <div>Image from Stuppy &amp; Kesseler<br />&copy; Papadakis Publisher</div>
  </div>
</div>