{{#each featured-taxa-sections}}
  <div class="featured-taxa-section__header">
    <h2>{{title}}</h2>
    <div class="view-all">
      <a href="/results?q=">View all {{message "site.organism.name.plural"}}</a>
    </div>
  </div>
  <div class="featured-taxa">
    {{!-- We use a .row outside of .container here because we don't want any additional padding on this section --}}
    <div class="row">
    {{#each featuredTaxa}}
      <div class="col col-md-4">
        {{> partials/featured/featured-taxon }}
      </div>
    {{/each}}
    </div>
  </div>
{{/each}}