<div class="featured-image-description">
  <div>
    <div>
      Featured:
      <a href="/taxon/urn:lsid:ipni.org:names:97632-2"><i>Espeletia
          brachyaxiantha</i></a>
    </div>
    <div>Image by Mauricio Diazgranados &copy; RBG Kew</div>
  </div>
</div>