<div class="home__featured-image-description">
  <div>
    <div>
      Featured:
      <a href="/taxon/urn:lsid:indexfungorum.org:names:107842"><i>Coprinellus
          disseminatus</i></a>
    </div>
    <div>Image &copy; Robert Lücking</div>
  </div>
</div>