<div class="c-autocomplete {{theme}}">
  <ul class="c-autocomplete__list" tabindex="-1" role="listbox" aria-expanded="true">
  {{#each suggestions}}
    {{#each this}}
      <li role="option" class="c-autocomplete__option">
        <a href="#" data-suggestion="{{this}}" >{{ this }}
        {{#if @root.showSuggester}}
            <span class="in_line">{{getSuggester @../key}}</span>
        {{/if}}
        </a>
      </li>
    {{/each}}
  {{/each}}
  </ul>
</div>
