<div class="form-group">
  <label for="searchrange">Date of publication</label>
  <div class="row">
    <div class="col">
      {{>select-replacement}}
    </div>
    <span class="seperator">to</span>
    <div class="col">
      {{>select-replacement}}
    </div>
    <div class="col">
      {{>select-replacement}}
    </div>
  </div>
</div>