  <form id="search_box" class="form-inline--search input-group" role="search">
    <label for="refine" class="sr-only">Search</label>
    <input id="refine" type="search" class="form-control refine" placeholder="Search by keyword">
    <div class="input-group-btn">
      <button type="button" class="btn btn-default" id="search-button" aria-label="search">
        <span class="glyphicon glyphicon-search"></span>
      </button>
    </div>
  </form>