{{> partials/header title="Plants of the World Online | Kew Science"}}

<div id="svgs" style="display:none">
{{> (lookup '.' 'site-logo-svg') }}
</div>

<div class="s-page s-page--home s-theme-home {{ siteClass }}">
  {{> partials/page-header}}

  <section class="c-results">
    <main class="container static_text" id="main">
      {{> (lookup '.' 'about') }}
    </main>
  </section>
  {{> partials/footer-links}}
</div>
