{{> partials/header title="Plants of the World Online | Kew Science"}}
<div class="s-page s-page--home s-search__fullpage s-theme-home">
  <header class="c-header">
    <div class="container">
      <h1><a href="/">Plants of the World Online</a></h1>
      <a id="kew-logo" href="http://www.kew.org/science-conservation">{{> svg/kew-science-big-logo.svg}}</a>
    </div>
  </header>

    <section class="c-results" id="main" role="main">
      <div class="container static_text">
        <h1>Website accessibility</h1>
        <p>Kew is committed to making its websites accessible to as many people as possible regardless of how they access the web.&nbsp;Making a website accessible includes taking account of&nbsp;children and adults who may have visual, auditory, physical, speech, cognitive or neurological disabilities.</p>
        <h2>Useful tips</h2>
        <h3>If you have problems reading small text</h3>
        <p>To change the text size you can usually use your web browser's menu. In Internet Explorer, for example, go to the<strong>Page menu</strong>&nbsp;and select&nbsp;<strong>Text Size</strong>&nbsp;and choose your preferred size from the list.</p>
        <p>If you have trouble reading text in the colours this web site uses</p>
        <p>We aim to ensure that our colours and contrasts ensure readability but if you need to have different colours on all the web pages that you visit, you can set your browser to apply certain rules about colours and text sizes to all web pages you visit. In Internet Explorer, for example, select the&nbsp;<strong>Tools menu&nbsp;</strong>&gt;<strong>&nbsp;Internet options</strong>. Then select the&nbsp;<strong>Colours and Fonts</strong>&nbsp;of your choice. Once you have done this, select the Accessibility button and check the boxes to ignore font sizes, styles and colours specified on web pages (it will then use your defaults instead).</p>
        <h3>If you use screen reading software such as JAWS</h3>
        <p>This site is designed to be easy to navigate using the keyboard. Use headers and links lists to get straight to the content you want to read.</p>
        <p><strong>Headers</strong>:&nbsp;Our pages use headers to mark each of the sections of the page (most pages are very short and just have a single header). Jumping from header to header will help you get around the page quickly (JAWS users can list the headers on the page by pressing INSERT + F6).</p>
        <p>We welcome your feedback</p>
        <p>If you are aware of,&nbsp;or have been affected by, any accessibility issues on the kew.org website, please let us know by emailing&nbsp;<a href="mailto:powop_support@kew.org">powop_support@kew.org</a>.</p
      </div><!-- End Container -->
    </section>
    {{> partials/footer-links}}
  </div>
</div>
