{{> partials/header }}

<div id="svgs" style="display:none">
{{> (concat "svg/" siteId ".svg")}}
</div>

<div class="s-page s-page--home s-theme-home {{concat "s-" siteId}}">
  
  {{> partials/page-header withSearchBox="true"}}
  <nav class="static-links" aria-label="About {{ message "site.title.abbrev" }} links">
    <ul>
      <li><a href="about">About {{ message "site.title.abbrev" }}</a></li>
      <li><a href="what-we-do">What we do</a></li>
      <li class="active"><a href="cite-us">Cite Us</a></li>
      <li><a href="contact">Contact</a></li>
    </ul>
  </nav>
  <main role="main" id="main">
    <div class="container static_text">
      {{> (concat "partials/cite/" siteId) }}
    </div>
  </main>
  {{> partials/footer-links}}
</div>
{{> partials/footer initialize="static"}}