{{> partials/header title="Plants of the World Online | Kew Science"}}
<div class="s-page s-page--home s-theme-home">
  <header class="c-header">
    <div class="container">
      <h1><a href="/">Plants of the World Online</a></h1>
      <a id="kew-logo" href="http://www.kew.org/science-conservation">{{> svg/kew-science-big-logo.svg}}</a>
    </div>
  </header>

    <section class="c-results" id="main" role="main">
      <div class="container static_text">
      <h1>Coookies<h1>
      <p> placeholder - page under construction
      </div><!-- End Container -->
    </section>
    {{> partials/footer-links}}
  </div>
</div>
