{{> partials/header title="Plants of the World Online | Kew Science"}}

<div id="svgs" style="display:none">
{{> (concat "svg/" siteId ".svg")}}
</div>

<div class="s-page s-page--home s-theme-home {{concat "s-" siteId}}">
  {{> partials/page-header}}

    <section class="c-results">
      <main class="container static_text" id="main">
        {{> (concat 'partials/help/' siteId) }}
      </main>
    </section>
    {{> partials/footer-links}}
  </div>
</div>
