{{> partials/header title="Plants of the World Online | Kew Science"}}

<div id="svgs" style="display:none">
{{> (concat "svg/" siteId ".svg")}}
</div>

<div class="s-page s-page--home s-theme-home {{concat "s-" siteId}}">
  {{> partials/page-header withSearchBox="true"}}

    <main role="main" class="c-results" id="main">
      <div class="container static_text">
        {{> (concat 'partials/help/' siteId) }}
      </div>
    </main>
    {{> partials/footer-links}}
  </div>
</div>
{{> partials/footer initialize="static"}}