{{> partials/header title="Plants of the World Online | Kew Science"}}

<div id="svgs" style="display:none">
{{> (lookup '.' 'site-logo-svg') }}
</div>

<div class="s-page s-page--home s-theme-home {{ siteClass }}">
  {{> partials/page-header}}

    <section class="c-results" id="main" role="main">
      <div class="container static_text">
        <h1>{{{message "help_header"}}}</h1>
        {{{message "help_body"}}}
      </div><!-- End Container -->
    </section>
    {{> partials/footer-links}}
  </div>
</div>
