{{> partials/header title="Plants of the World Online | Kew Science"}}

<div id="svgs" style="display:none">
{{> (lookup '.' 'site-logo-svg') }}
</div>

<div class="s-page s-page--home s-theme-home {{ siteClass }}">
  {{> partials/page-header}}

  <section class="c-results">
    <div class="container static_text">
      <h1>{{{ message "terms_and_conditions_header"}}}</h1>
      {{{message "terms_and_conditions_body" "year" "date"}}}
    </div><!-- End Container -->
  </section>
  {{> partials/footer-links}}
</div>
</div>
