<html>
<body>
	<p>Hello,</p>
	<p>A request has been made to reset your password. You can change your password by following this link:</p>
	<p>${baseUrl}/recovery/${nonce}</p>
	<p>If you did not ask us to reset your password please reply to this email and let us know that you have received this email.</p>
	<p>Regards,</p>
	<p>The eMonocot Team</p>
</body>
</html>