<html>
<body>
<h3>Login information</h3>
<p>Hello,</p>
<p>A request has been made to reset your password. You can change your password
by following this link:</p>
<p>${baseUrl}/${nonce}</p>
<p>If you did not request us to reset and email you your password, please reply to this email and let us know. (You'll still want to logon and reset your password.)</p>
<p>Regards,</p>
<p>The eMonocot Team</p>
</body>

</html>