// Colors
$article-theme-color: #339999;
$brand-primary: #000000;

// Font defaults
$font-family-sans-serif: 'Roboto', sans-serif;
$font-size-base: 16px;

// Font sizes
$font-size-large: ceil(($font-size-base * 1.125)) !default; // ~18px
$font-size-small: ceil(($font-size-base * 0.85)) !default; // ~12px

$font-size-h1: floor(($font-size-base * 2.6)); // ~36px
$font-size-h2: floor(($font-size-base * 1.625)); // ~26px
$font-size-h3: ceil(($font-size-base * 1.25)); // ~20px
$font-size-h4: ceil(($font-size-base * 1.25)); // ~18px
$font-size-h5: $font-size-base;
$font-size-h6: ceil(($font-size-base * 0.85)); // ~12px

$line-height-base: 1.5635;

// Container sizes
$container-tablet: 100%;
$container-desktop: 100%;
$container-large-desktop: 1300px;
$container-huge-desktop: 1600px;
$screen-huge-min: 1700px;


// Radius for pill buttons
$btn-default-color: #333333;
$btn-default-bg: #FFFFFF;
$btn-default-border: transparent;

// Pagination
$pagination-bg: #fff;
$pagination-border: #fff;

$pagination-hover-color: #000;
$pagination-hover-bg: #ccc;
$pagination-hover-border: #ccc;

$pagination-active-color: #000;
$pagination-active-bg: #ccc;
$pagination-active-border: #ccc;

$pagination-disabled-border: #fff;

// Nav styling
$nav-link-padding: 10px 10px !default;
$nav-link-hover-bg: transparent;
$nav-disabled-link-color: transparent;
$nav-disabled-link-hover-color: transparent;
$nav-tabs-border-color: transparent;
$nav-tabs-link-hover-border-color: transparent;
$nav-tabs-active-link-hover-bg: transparent;
$nav-tabs-active-link-hover-color: #FFFFFF;
$nav-tabs-active-link-hover-border-color: rgba(#FFFFFF,0.3);

// Max with for the popover on content page.
$popover-max-width: auto;

// Thumbnail min and max sizes on teaser cards
$thumbnail-min-width: 60px;
$thumbnail-max-width: 80px;

// Input sizing
$input-font-size: $font-size-h4;
$input-padding: 1em 1.5em;
$input-padding-small: 0.5em 1.5em;

// Radius for buttons and inputs
$pill-radius: 4px;
$input-radius: 4px;
$home-radius: 4px;

// Modal
$modal-opacity: .8;

// Borders
$border-translucent: 1px solid rgba(#FFFFFF, 0.3);
$border-grey: 1px solid #CCCCCC;

@import 'vendor/accoutrement-layout/sass/layout';

@import "vendor/bootstrap";
@import "vendor/magnific-popup";
@import "vendor/openlayers";

@import "vendor/bootstrap-tokenfield";
@import "vendor/tokenfield-typeahead";

@import "vendor/select2/select2";
@import "vendor/select2/select2-bootstrap";
@import "vendor/select2/select2.sortable";

@import "vendor/bootstrap-datetimepicker";

@import "core/functions";
@import "core/helpers";
@import "core/mixins";

@import "layout/grid";
@import "layout/form";

@import "design/bootstrap";
@import "design/sprites";
@import "design/theme";

@import "components/header";
@import "components/footer";

@import "components/search";
@import "components/select";

@import "components/card";
@import "components/collapse";
@import "components/map";
@import "components/results";
@import "components/article";

@import "components/gallery";
@import "components/gallery-lightbox";
@import "components/gallery-thumbs";

@import "components/intro";
@import "components/pagination";

@import "pages/home";
@import "pages/taxon";
@import "pages/static";
@import "pages/harvester";

@import "sites/colplanta";
@import "sites/upb";
