<div role="alert" class="results-count">
  {{#if totalResults}}
    {{totalResults}}
    results
    <div class="sr-only" aria-live="polite">Sorted {{sortDescription}}</div>
  {{else}}
    no results
  {{/if}}
</div>