<div role="alert" class="results-count">
  {{#if totalResults}}
    {{totalResults}}
    results
    <span class="sr-only" aria-live="polite">Sorted {{sortDescription}}</span>
    {{#if filterDescriptions}}
    <span class="sr-only" aria-live="polite">Filtered by 
      {{#each filterDescriptions}}
        {{this}}{{#unless @last}}, {{/unless}}
      {{/each}}
    </span>
    {{/if}}
  {{else}}
    no results
  {{/if}}
</div>