<footer class="site-footer" role="contentinfo">
  <div class="footer-layer-one">
    <nav>
      <ul>
        <li>
          <a class="footer-link" href="https://www.kew.org/terms-and-conditions" target="_blank" rel="noopener">
            Terms and conditions
          </a>
        </li>
        <li>
          <a class="footer-link" href="https://www.kew.org/about-us/reports-and-policies/privacy" target="_blank" rel="noopener">
            Privacy
          </a>
        </li>
        <li><a class="footer-link" href="https://www.kew.org/about-us/reports-and-policies/cookies" target="_blank" rel="noopener">
            Cookies</a></li>
        <li><a class="footer-link" href="https://www.kew.org/about-us/reports-and-policies/website-accessibility" target="_blank" rel="noopener">Accessibility</a></li>
        <li data-v-1bb0e14b=""><a class="footer-link" href="https://www.kew.org/about-us/reports-and-policies/anti-slavery-policy"
            target="_blank" rel="noopener" data-v-1bb0e14b="">Modern slavery</a></li>
      </ul>
    </nav> 
    <small>&copy; Board of Trustees of the Royal Botanic Gardens, Kew</small>
  </div>
  <div class="footer-layer-two"><a class="footer-link" href="https://www.kew.org" target="_blank" rel="noopener">Visit kew.org</a></div>
</footer>