<footer class="site-footer">
  <div class="footer-layer-one">
    <nav aria-label="Footer links">
      <ul>
        <li>
          <a class="footer-link" href="https://www.kew.org/terms-and-conditions">Terms and conditions</a>
        </li>
        <li>
          <a class="footer-link" href="https://www.kew.org/about-us/reports-and-policies/privacy">Privacy</a>
        </li>
        <li>
          <a class="footer-link" href="https://www.kew.org/about-us/reports-and-policies/cookies">Cookies</a>
        </li>
        <li>
          <a class="footer-link" href="https://www.kew.org/about-us/reports-and-policies/website-accessibility">Accessibility</a>
        </li>
        <li>
          <a class="footer-link" href="https://www.kew.org/about-us/reports-and-policies/anti-slavery-policy">Modern slavery</a>
        </li>
      </ul>
    </nav> 
    <small>&copy; Board of Trustees of the Royal Botanic Gardens, Kew</small>
  </div>
  <div class="footer-layer-two"><a class="footer-link" href="https://www.kew.org">Visit kew.org</a></div>
</footer>