<header class="c-header" role="banner">
  <div class="container">
    <a id="kew-logo" href="/" aria-label="Go to the homepage">{{> (lookup '.' 'kew-logo') }}</a>

    <a class="site-logo" href="/" aria-label="Go to homepage">
      {{> (concat "partials/logo/" (lookup '.' 'siteId')) }}
    </a>

    <p class="featured">
       Featured: <i><a href="/taxon/urn:lsid:ipni.org:names:77100386-1">Lysimachia arvensis</a></i>
       <small>Image from Stuppy &amp; Kesseler<br/>©Papadakis Publisher</small>
    </p>

    {{#if withSearchBox }}
      {{> partials/search/search-box }}
    {{/if}}
  </div>
</header>
